.popupHeader {
	height           : 20px;
	background-color : #000;
	padding-left     : 10px;
	padding-right    : 10px;
}

.popupTitle {
	vertical-align : middle;
	font-weight    : bold;
	color          : #fff;
}

.popupClose {
	float : right;
}

.popupClose a {
	text-decoration : none;
	color           : #8acced;
	
}

.popupBody {
	background-color : #fff;
	padding : 0;
}

/*window*/
.eip_win {
	position: absolute;
	width: 569px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
}
.eip_win .eip_win_head {
	height: 23px;
	background: url(/images/cms/eip/title_bg.png) no-repeat 0 -27px;
	color: white;
	line-height: 22px;
	padding: 0 0 0 15px;
	cursor: move;
}
.eip_win .eip_win_head .eip_win_title{
	height: 23px;
	background: url(/images/cms/eip/title_bg.png) no-repeat right top;
	color: white;
	line-height: 22px;
	cursor: move;
}
.eip_win .eip_win_head .eip_win_close {
	height: 9px;
	line-height: 9px;
	width: 9px;
	background: url(/images/cms/eip/close.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
}
.eip_win .eip_win_body {
	border-right: #e3e3e3 solid 1px;
	border-bottom: #e3e3e3 solid 1px;
	border-left: #e3e3e3 solid 1px;
	background: #f9f9f9;
	padding: 20px 0 0 20px;
	font-weight: normal;
	color: #707070;
}
.eip_win .eip_win_body .popupText {
	margin-right : 20px;
}
.eip_win .eip_win_body .popupText .exchange_container div {
	margin-bottom: 10px;
}

.eip_win .eip_win_body .popupText .exchange_container div.status {
	margin-bottom: 5px;
}

.eip_win .eip_win_body .popupText .exchange_container img.progress {
	width: 100%;
	height: 17px;
	border: solid 1px #dedede;
}
.eip_win .eip_win_body .popupText .exchange_container div#import_log {
	height: 84px;
	width: 100%;
	overflow: auto;
	border: 1px solid #dedede;
	background-color: white;
	font-size: 10px;
}
.eip_win .eip_win_body h3 {
	color: #707070;
	margin: 0 0 20px 0;
	font-size: 11px;
}
.eip_win .eip_win_body .eip_page_type_choice {
	height: 112px;
	width: 112px;
	background: url(/images/cms/eip/add_page_bg.png) no-repeat;
	margin: 0 10px 20px 10px;
	float: left;
	cursor: pointer;
	text-align: center;
}
.eip_win .eip_win_body .eip_page_type_choice img {
	padding: 5px 0;
}
.eip_win .eip_win_body .eip_page_type_choice .eip_page_type_choice_title {
	padding: 0 10px;
}
.eip_win .eip_win_body iframe {
	border: none;
	width: 100%;
}
.eip_win .eip_win_body #container {
	overflow: hidden;
}
.eip_buttons {
	padding: 20px 0;
}
.eip_buttons input {
	background: white url(/images/cms/eip/buttons_bg.png) no-repeat;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma;
	padding: 5px 10px 6px 40px;
	*padding: 5px 0px 6px 25px;
	border: #e3e3e3 solid 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.eip_buttons input[disabled] {
	opacity: 0.5;
}
.eip_buttons input.ok {
	background-position: 5px -1px;
}
.eip_buttons input.back {
	background-position: 5px -31px;
}
.eip_buttons input.repeat {
	background-position: 5px -61px;
}
.eip_buttons input.stop {
	background-position: 5px -94px;
}

#zipform {
	position:relative;
}
#watermark {
	float:left;
	position:absolute;
	bottom:-21px;
	left:0px;
	*bottom:-20px;
}
#zipform #path + label {
	position:absolute;
	bottom:-18px;
	left:23px;
	*bottom:-16px;
	*left:23px;
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:0;
	zoom:1;
}
@media all and (-webkit-min-device-pixel-ratio:10000), 
not all and ( -webkit-min-device-pixel-ratio : 0 ) { 
  #zipform #path + label { bottom:-20px; }
}

#watermark_wrapper {
	font-size: 12px;
	font-family: Verdana,Arial,sans-serif;
	background:#CCCCCC;
	border: 1px solid #AAAAAA;
	border-top:none;
	color: #555555;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
	margin-top: -27px;
	padding: 3px 3px 3px 9px;
}

#watermark_wrapper > input {
	vertical-align: middle;
        margin: 0 30px 0 10px;
}

#quick_csv_encoding {
	float: right;
}
#csv_encoding span {
	margin-right: 10px;
}
#csv-file {
	margin-top: 7px;
}