@import "/styles/skins/mac/design/css/contextmenu.css";
@import "/styles/common/css/popup.css";
@import "/styles/skins/mac/design/calendar/calendar.css";

html {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #efefef;
	color: #333;
	/*color: #676767;*/
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 100%;
	width: 100%;
}
img {
	border: none;
}
a {
	outline: none;
	color: #0088e8;
	text-decoration: none;
}
ul, ol, li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

/*panel*/
#main #quickpanel {
	height: 25px;
	background: url(/styles/skins/mac/design/images/quickpanel_bg.gif) repeat-x;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	top: 0;
	position: fixed;
	min-width: 1145px;
	width: 100%;
	z-index: 200;
}
#main #quickpanel a {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0 15px;
	color: #333;
	text-decoration: none;
	outline: none;
	position: relative;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #d8d8d8;
}
#main #quickpanel a#profile {
	border-left: 1px solid #f8f8f8;
}

#main #quickpanel a#buy {
	color: #ff0000;
	font-weight: bold;
}

#main #quickpanel div a {
	color: #054f82;
	text-indent: 0;
	float: none;
	height: 30px;
	line-height: 28px;
	padding: 0 5px;
	border: none;
}
#main #quickpanel div a:hover {
	background: #ceeaf6;
}
#main #quickpanel div a img {
	border: none;
	float: left;
	margin-right: 5px;
}
#main #quickpanel div.act div div {
	display: block!important;
}
#main #quickpanel div.act div {
	_position: absolute!important;
	_top: 26px!important;
	_left: 0px!important;
}
#main #quickpanel div.act div div {
	_position: relative!important;
	_top: 0px!important;
}
#main #quickpanel div.act div ul li {
	_height: 25px!important;
}
#main #quickpanel div.act div.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
#main #quickpanel ul li {
	padding: 5px 0;
}
#main #quickpanel ul li span {
	padding: 0 20px;
}
#main #quickpanel #exit {
	float: right;
	background: url(/styles/skins/mac/design/images/quickpanel_bg.png) no-repeat -204px -5px;
	width: 25px;
	margin: 0 10px 0 0;
	padding: 0;
	border: none;
}
#main #quickpanel #help {
	float: right;
	background: url(/styles/skins/mac/design/images/quickpanel_bg.png) no-repeat -170px -5px;
	width: 26px;
	margin: 0 5px 0 0;
	padding: 0;
	border: none;
}
#main #quickpanel #lang {
	float: right;
	margin: 0 10px 0 0;
	padding: 0;
	height: 25px;
	line-height: 25px;
	*width:300px;
}
#main #quickpanel #lang a {
	display: inline;
	padding: 0;
	color: #8ea4be;
	line-height: 25px;
	height: 25px;
	/*margin-left: 10px;*/
	padding-left: 10px;
}
#main #quickpanel #lang a:hover {
	background: none;
	color: #676767;
}
#main #quickpanel #lang span {
	margin-left: 10px;
	font-weight: bold;
}
#main #quickpanel div#butterfly {
	height: 25px;
	width: 102px;
	line-height: 25px;
	float: left;
	cursor: pointer;
	position: relative;
	font-weight: bold;
	border-right:1px solid #D8D8D8;
}
#scope {
	z-index: 99;
	position: fixed;
	width: 100%;	left: 0;
	height: 100%;	top: 25px;
	filter: alpha(opacity=10);
	opacity: 0.1;
	background: black;
}
#main #quickpanel a.cache_lost {
	border-right:0;
}
#main #quickpanel a#market span {
	background: url(/styles/skins/mac/design/images/quickpanel_bg.png) no-repeat -240px -43px;
	display: block;
	float: left;
	width: 30px;
	height: 25px;
}
#main #quickpanel div#butterfly span {
	background: url(/styles/skins/mac/design/images/quickpanel_bg.png) no-repeat 3px -3px;
	display: block;
	float: left;
	width: 40px;
	height: 25px;
	margin-left: 8px;
}
#main #quickpanel div#butterfly div {
	width: 320px;
	cursor: default;
	top: 1px;
	position: relative;
	display: none;
	z-index: 100;
	font-weight: normal;
}
#main #quickpanel div#butterfly div ul {
	float: left;
	width: 50%;
}
#main #quickpanel div#butterfly div div.bg {
	top: 0;
	height: auto;
	background: url(/styles/skins/mac/design/images/mod_bg.gif) repeat-y;
	border-top: solid 1px #e2e2e2;
}
#main #quickpanel div#butterfly div div.bottom_bg {
	height: 5px;
	top: 0;
	background: url(/styles/skins/mac/design/images/menu_bg.png) no-repeat left top;
	z-index: 90;
}
#main #quickpanel #butterfly a.drag {
	z-index: 200;
}
#main #quickpanel #butterfly a.drag:hover {
	background: none;
}

/*dock*/
#main #dock {
	text-align: center;
	clear: both;
	font-size: 1px;
	padding-top: 25px;
	min-width: 1160px;
	width: 100%;
	top: 0;
	position: relative;
	z-index: 150;
}
#main #dock img {
	cursor: pointer;
}
#main #dock div {
	background: white;
	border-bottom: 1px solid #d8dbde;
	font-size: 10px;
	padding: 3px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#main #dock div.ui-sortable {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
#main #dock div a {
	text-align: center;
	margin: 0 5px 3px 5px;
	color: #333;
}
#main #dock div a img {
	margin: 0;
}
#main #dock div a span {
	display: block;
	margin-top: 5px;
}
#main #dock a {
	display: inline-block;
}
#main #dock .ui-state-highlight {
	width: 42px;
	height: 60px;
	background-color: #d7e4ef;
	border: 2px solid #77b9ef;
}
#page {
	padding-bottom: 30px;
	min-width: 1153px;
}

/*content*/
#main {
	position: relative;
	min-height: 100%;
	_height: 100%;
	min-width: 990px;
}
#main #head {
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
#main #head img {
	position: absolute;
	left: 20px;
	top: 0px;
}
#main #head #breadcrumb {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	margin-left: 125px;
	padding-top: 25px;
	padding-bottom: 20px;
}
#main #head #breadcrumb a {
	color: #333;
	font-size: 12px;
	text-decoration: none;
	margin: 0 2px 0 7px;
}
#main #head #breadcrumb span {
	font-size: 14px;
	font-weight: bold;
}
#main #head #breadcrumb span span {
	margin-left: 8px;
}
#main #head #settings {
	background: url(/images/cms/admin/mac/icons/settings.png) no-repeat;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	position: absolute;
	right: 20px;
	top: 8px;
	text-decoration: none;
	height: 17px;
	width: 135px;
	line-height: 15px;
	text-indent: 25px;
	display: block;
	font-weight: bold;
}
#main #head .help {
	background: url(/images/cms/admin/mac/icons/help_block.png) no-repeat;
	position: absolute;
	width: 135px;
	height: 16px;
	bottom: 6px;
	right: 20px;
	line-height: 15px;
	text-indent: 25px;
	font-weight: bold;
	cursor: pointer;
	color: #0088E8;
}
#main #errorList {
	margin: 10px;
	color: #660000;
	padding: 12px;
	background-color: #ffeeee;
	border-radius: 10px;
	border:1px #ffaaaa solid;
}
#main #notifyList {
	margin: 10px 0;
	padding: 12px;
	background-color: #ecf3fe;
	border-radius: 10px;
	border:1px #0088e8 solid;
}
#main #info_block {
	width: 23%;
	margin-right: 20px;
	float: right;
}
#main .panel {
	border-bottom: 1px solid #b5c3c9;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	/*color: #4c4c4c;*/
	color: #333;
	margin-bottom: 15px;
}
#main .panel a.extended_fields_expander,
#main .panel a.toggle_fields_expander {
	font-weight: bold;
	border-bottom:1px dashed;
}
#main .panel a.go_view {
	font-weight: bold;
	float:right;
	margin-right:10%;
}
#main .panel .header {
	background: url(/images/cms/admin/mac/common/tab.jpg) repeat-x;
	height: 25px;
	position: relative;
	font-weight: bold;
	text-indent: 10px;
	font-size: 12px;
	line-height: 23px;
	margin: 0 9px;
	cursor: pointer;
}
#main #content .panel {
	width: 100%;
}
#main #content .panel .header {
	display: block;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#main #content .panel .panel .header {
	cursor: default;
}
#main #content .panel .tabs {
	height: 25px;
	border-bottom: 1px solid #b5c3c9;
	min-width:713px;
}
#main #content .panel .tabs .header {
	float: left;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	/*text-transform: uppercase;*/
	font-weight: normal;
	color: #333;
}
#main #content .panel .tabs .act {
	height: 26px;
	/*color: #0088e8;*/
	font-weight: bold;
	_margin-bottom: -1px;
}
#main #content .panel .header .c {
	background: url(/images/cms/admin/mac/sg_arrow_up.gif) no-repeat 0 5px;
	height: 25px;
	position: relative;
	display: block;
	margin-left: 5px;
	text-indent: 23px;
	z-index: 2;
}
#main #content .panel .tabs .header .c {
	background: none;
	text-indent: 0px;
	padding: 0 7px;
	margin-left: 0px;
	line-height: 25px;
	_display: inline;
}
#main .panel .header .l {
	background: url(/images/cms/admin/mac/common/tab_first.png) no-repeat;
	height: 25px;
	width: 9px;
	display: block;
	position: absolute;
	top: 0;
	left: -9px;
}
#main .panel .header .r {
	background: url(/images/cms/admin/mac/common/tab_last.png) no-repeat;
	height: 25px;
	width: 9px;
	display: block;
	position: absolute;
	top: 0;
	right: -9px;
}
#main #content .panel .tabs .prev,
#main #content .panel .tabs .first {
	margin-right: 0;
	padding-right: 9px;
}
#main #content .panel .tabs .first.act {
	margin-right: 9px;
	padding-right: 0;
}
#main #content .panel .tabs .next {
	margin-left: 0;
	padding-left: 9px;
}
#main #content .panel .tabs .last {
	margin-left: 0;
}
#main .panel .tabs .last .l,
#main .panel .tabs .next .l,
#main .panel .tabs .first .r,
#main .panel .tabs .prev .r {
	background: none;
}
#main .panel .tabs .act .l,
#main .panel .tabs .act .r {
	height: 26px;
}
#main .panel .tabs .act .l,
#main .panel .tabs .prev .l {
	background: url(/images/cms/admin/mac/common/tab_left.gif) no-repeat;
}
#main .panel .tabs .act .r,
#main .panel .tabs .next .r {
	background: url(/images/cms/admin/mac/common/tab_right.jpg) no-repeat;
}
#main .panel .tabs .last .r {
	background: url(/images/cms/admin/mac/common/tab_last.png) no-repeat;
}
#main .panel .tabs .first .l {
	background: url(/images/cms/admin/mac/common/tab_first.png) no-repeat;
}
#main .panel .content {
	border-left: 1px solid #b5c3c9;
	border-right: 1px solid #b5c3c9;
	padding: 10px 15px 5px 15px;
	/* position: relative; */
	background: white;
	clear: left;
	zoom: 1;
	overflow: auto;
}
#main .panel .content form {
	margin: 0;
}
#main #content .panel .content div.field {
	/*display: block;
	float: left;
	min-height: 50px;
	position: relative;
	width: 50%;
	_width: 49%;*/
	/*new*/
	display: inline-block;
	vertical-align: top;
	min-height: 50px;
	width: 49.7%;
	*display:inline;
	*zoom:1;
}
#main #content .panel .content div.field label {
	display: block;
}
#main #content .panel .content div.field label.is-active {
	width:90%
}
#main #content .panel .content div.field span {
	display: block;
}
#main #content .panel .content div.field div.share {
	bottom: 7px;
	float: right;
	font-size: 20px;
	height: 27px;
	position: relative;
}
#main #content .panel .content div.field span#ya_share1 {
	bottom: 7px;
	float: right;
	position: relative;
}
#main #content .panel .content div.field span.label,
#main #content .panel .content div.field span.label_edit {
	margin-bottom: 5px;
	width: 90%;
	min-height: 15px;
}
#main #content .panel .content div.field span.label_edit {
	height: 15px;
}
#main #content .panel .content div.field span.label a,
#main #content .panel .content div.field span.label_edit a {
	float: right;
	font-weight: bold;
}
#main #content .panel .content div.field acronym {
	font-weight: normal;
}
#main #content .panel .content div.field acronym.acr {
	border-bottom: dotted 1px;
	cursor: help;
}
#main #content .panel .content div.field a img {
	position: relative;
	top: 1px;
	vertical-align: top;
}
#main #content .panel .content div.text {
	width: 100%;
	_width: 90%;
	height: auto;
	margin-bottom: 10px;
}
#main #content .panel .content div.field input,
#main #content .panel .content div.field select,
#main #content .panel .content div.field textarea {
	width: 90%;
	border: 1px solid #d3d3d3;
	color: #333;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	margin: 0 3px 0 0;
}
#main #content .panel .content label span.label sup {
	color: DodgerBlue;
	vertical-align:top;
}
#main #content .panel .content div.field .required {
	/*border-width: 2px;*/
	border-color: DodgerBlue;
}
#main #content .panel .content div.field select {
	*width: 91%;
}
#main #content .panel .content div.text input,
#main #content .panel .content div.text textarea,
#main #content .panel .content div.text span.mceEditor {
	width: 95%;
	_width: 105%;
}
#main #content .panel .content div.text textarea {
	height: 400px;
}
#main #content .panel .content div.field input.checkbox {
	width: auto;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	border: none;
}
#main #content .panel .content div.field input.search_input {
	background: url(/images/cms/admin/mac/tree/search.gif) no-repeat;
	padding: 1px 0 1px 19px;
}
#main #content .panel .content div.field input.relation-add {
	background : url("/images/cms/admin/mac/tree/ico_add.png") no-repeat;
	width: 16px;
	height: 16px;
	border: 0;
}
#main #content .panel .content div.modules {
	width: 650px;
	float: none;
}
#main #content .panel .content div.modules label {
	float: left;
	width: 550px;
}
#main #content .panel .content div.modules input {
	width: 100%
}
#main #content .panel .content div.modules .buttons {
	clear: none;
	padding-top: 18px;
}
#main #content .panel .content div.modules .buttons div {
	*width: 80px;
}
#main #content .panel .content div.modules .buttons .r {
	*right: -5px;
	_right: 5px;
}
#main #content .panel .content dl.field {
	width: 50%;
	min-height: 150px;
	margin: 0;
	float: right;
	padding-bottom: 20px;
}
#main #content .panel .content dl.field dt {
	font-weight: bold;
	margin-bottom: 5px;
}
#main #content .panel .content dl.field dd {
	margin: 0;
	height: 18px;
	line-height: 17px;
	clear: both;
}
#main #content .panel .content dl.field dd input {
	float: left;
	margin: 2px 5px 0 0;
}
#main #content .panel .content div.symlink {
	height: auto;
	min-height: 50px;
}
#main #content .panel .content div.symlink img {
	cursor: pointer;
	position: relative;
	top: 5px;
}
#main #content .panel .content div.symlink ul.pageslist li {
	height: 20px;
	overflow:hidden;
}
#main #content .panel .content div.symlink ul.pageslist li img {
	top: 3px;
	margin: 0 5px 0 0;
	cursor: default;
}
#main #content .panel .content div.symlink ul.pageslist li span {
	display: inline;
	margin: 0 5px 0 0;
}
#main #content .panel .content div.changeParent {
	width: 100%;
	_width: 90%;
	height: auto;
	min-height: 50px;
}
#main #content .panel .content div.changeParent img {
	cursor: pointer;
	position: relative;
	top: 5px;
}
#main #content .panel .content div.changeParent ul.pageslist li {
	height: 20px;
	overflow:hidden;
}
#main #content .panel .content div.changeParent ul.pageslist li img {
	top: 3px;
	margin: 0 5px 0 0;
	cursor: default;
}
#main #content .panel .content div.changeParent ul.pageslist li span {
	display: inline;
	margin: 0 5px 0 0;
}
#main #content .panel .content div.buttons {
	clear: both;
	padding-top: 5px;
	height: 25px;
	_height: 50px;
}
#main #content .panel .content div.button,
#main #content .panel .content div.buttons div {
	float: right;
	margin: 0 5px;
	position: relative;
}
#main #content .panel .content div.button input,
#main #content .panel .content table.tablePatches div.apply input,
#main #content .panel .content div.buttons div input {
	background: url(/images/cms/admin/mac/common/button_center.jpg) repeat-x;
	border: none !important;
	color: white !important;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 17px;
	cursor: pointer;
	font-weight: bold;
}
#main #content .panel .content table.tablePatches div.revert input {
	background: url(/images/cms/admin/mac/common/button_center_cancel.jpg) repeat-x;
	border: none !important;
	color: white !important;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 17px;
	cursor: pointer;
	font-weight: bold;
}
#main #content .panel .content div.button span,
#main #content .panel .content table.tablePatches span,
#main #content .panel .content div.buttons div span {
	position: absolute;
	display: block;
	height: 17px;
	width: 5px;
	top: 0;
}
#main #content .panel .content div.button span.l,
#main #content .panel .content table.tablePatches div.apply span.l,
#main #content .panel .content div.buttons div span.l {
	background: url(/images/cms/admin/mac/common/button_left.jpg) no-repeat;
	left: 0;
}
#main #content .panel .content div.button span.r,
#main #content .panel .content table.tablePatches div.apply span.r,
#main #content .panel .content div.buttons div span.r {
	background: url(/images/cms/admin/mac/common/button_right.jpg) no-repeat;
	right: 0;
}
#main #content .panel .content table.tablePatches div.revert span.l {
	background: url(/images/cms/admin/mac/common/button_left_cancel.jpg) no-repeat;
	left: 0;
}
#main #content .panel .content table.tablePatches div.revert span.r {
	background: url(/images/cms/admin/mac/common/button_right_cancel.jpg) no-repeat;
	right: 0;
}
#main #content table.tableLists,
#main #content table.tableLists table,
#main #content .panel .content table.permissionTable {
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}
#main #content table.tableLists,
#main #content .panel .content table.permissionTable {
	background: url(/images/cms/admin/mac/tree/grid.gif) repeat;
}
#main #content .panel .content table.permissionTable tfoot {
	background: white;
}
#main #content .panel .content table.permissionTable tr {
	height: 22px;
}
#main #content .panel .content table.permissionTable th,
#main #content .panel .content table.permissionTable td {
	padding: 0 3px;
	text-indent: 5px;
}
#main #content .panel .content table.permissionTable tfoot input {
	width: 49%;
	border: 1px solid #d3d3d3;
	color: #4c4c4c;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
}
#main #content .panel .content table.tableContent,
#main #content .panel .content table.hide {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	margin-top: 20px;
}
#main #content .panel .content table.tableContent label[for="site_name"] {
	display: block;
	width: 156px;
}
#main #content .panel .content table.tablePatches{
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	margin: 20px 0;
}
#main #content .panel .content table.tablePatches tr.glow{
	background:#ebf2fc;
}
#main #content .panel .content table.tableContent {
	background: url('/images/cms/admin/mac/tree/grid_large.gif')\0/;
	*background: url('/images/cms/admin/mac/tree/grid_large.gif');
}
#main #content .panel .content table.tableContent tr:nth-of-type(even) {
	background: #ECF3FE;
}
table#testsTable td.test-value {
	width: 50%;
	text-align: left;
}
#main #content .panel .content table.tableContent tr td.ok, .textOk {
	color:green;
}
#main #content .panel .content table.tableContent tr td.error span{
	color:red;
	border-bottom: 1px dashed red;
	cursor: pointer;
}
#main #content .panel .content table.tableContent.optioned {
	margin-top: 0px;
	background-position: 0 20px;
}
#main #content .panel .content table.tableContent.optioned th {
	text-align: left;
	background-image: none;
	height: 20px;
}
#main #content .panel .content table.tableContent tfoot {
	background: white;
}
#main #content .panel .content table.tableContent.permissions {
	background-image: none;
}
#main #content .panel .content table.tableContent.permissions th,
#main #content .panel .content table.tableContent.permissions td {
	background-position: 0 -1px;
	border: 1px solid #D3D3D3;
	height: 27px;
}
#main #content .panel .content table.tableContent th,
#main #content .panel .content table.tablePatches th,
#main #content .panel .content table.tableContent td,
#main #content .panel .content table.tablePatches td {
	/*border: 1px solid #d3d3d3;*/
	height: 30px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	*height:10px;
	height /*\**/: 25px\9;
}
#main #content .panel .content table.tableContent th {
	background: url(/images/cms/admin/mac/common/tab.jpg);
	border-top: none;
}

#main #content .panel .content table.tableContent th.sort {
	cursor: pointer;
}

#main #content .panel .content table.tableContent th.sort span {
	padding: 0 20px;
	background: no-repeat scroll 95% 2px transparent;
}
#main #content .panel .content table.tableContent th.sort .asc {
	background-image: url(/images/cms/admin/mac/tree/order-asc.gif);
}

#main #content .panel .content table.tableContent th.sort .desc {
	background-image: url(/images/cms/admin/mac/tree/order-desc.gif);
	background-position: 95% 4px;
}

#main #content .panel .content table.tableContent.left th,
#main #content .panel .content table.tableContent td,
#main #content .panel .content table.tablePatches td,
#main #content .panel .content table.hide td {
	padding: 2.5px 14px 2.5px;
	*padding:4px 14px 5px;
	padding /*\**/: 3px 14px 2px\9;
	margin:0;
}
#main #content .panel .content table.hide td {
	width: 50%;
}
#main #content .panel .content table.tableContent th.left {
	text-align: left;
	padding: 2px 14px;
}
#main #content .panel .content table.tableContent td.center {
	width: 100px;
	text-align: center;
}
#main #content .panel .content table.tableContent td.center.narrow {
	width: 30px;
}
#main #content .panel .content table.tableContent td.right,
#main #content .panel .content table.hide td.eq-col {
	text-align: right;
}
#main #content .panel .content table td.eq-col {
	width: 50%;
}
#main #content .panel .content table.tableContent a.delete {
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('/images/cms/admin/mac/ico_del.gif');
	margin-left: 45%;
}
#main #content .panel .content table.tableContent a.restore {
	width: 14px;
	height: 26px;
	display: block;
	background-image: url('/images/cms/admin/mac/trash_restore.gif');
	margin-left: 45%;
}
#main #content .panel .content table.tableContent a.delete *,
#main #content .panel .content table.tableContent a.restore * {
	display: none;
}

#main #content .server_load {
	margin: 5px 0 7px;
}
#main #content .speedmark {
	font-size: 14px;
	padding: 10px 5px 0 0;
	display:none;
}
#main #content .speedmark-link {
	height: 20px;
	padding-top: 5px;
}
#main #content .speedmark p{
	font-size: 12px;
	margin: 15px 0 5px;
}
#main #content .speedmark .error{
	color: #ff6a08;
}
#main #content .tableItemContainer {
	overflow: auto;
}
#main #content table.tableLists {
	border: 1px dotted #ddd;
	background-position: 0 0px;
	margin-bottom: 20px;
}
#main #content .panel .content table.tableContent td div.module_icon {
	height: 30px;
	line-height: 30px;
}
#main #content .panel .content table.tableContent td div.module_icon img {
	float: left;
	margin-right: 5px;
}
#main #content .panel .content table.tableContent ul li {
	height: 25px;
	line-height: 25px;
}
#main #content .panel .content table.tableContent ul li input.check {
	float: left;
	margin: 6px 10px 0 0;
}
#main #content table.tableLists input,
#main #content select#blog_id,
#main #content table.tableLists select,
#main #content .panel .content table.tableContent td input,
#main #content .panel .content table.tableContent td select,
#main #content .panel .content table.tableContent td textarea,
#main #content .panel .content table.hide td input {
	width: 100%;
	border: 1px solid #d3d3d3;
	color: #4c4c4c;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}
#main #content .panel .content table.tableContent td textarea {
	height: 150px;
}
#main #content .panel .content .center div.button {
	float: none;
}
#main #content .panel .content table#statFilter td {
	width: 30%;
	text-align: center;
}
#main #content .panel .content table#statFilter td select.date {
	width : auto;
}
#main #content .panel .content #stat_links {
	margin-top: 8px;
}
#main #content .panel .content #stat_links a,
#main #content .panel .content #stat_links span {
	margin-right: 10px;
}
#main #content .panel .content #stat_links span {
	font-weight: bold;
}
#main #content .panel #answers_list {
	padding-top: 1px;
}
#main #content .panel #answers_list table td {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
}
#main #content .panel #answers_list table td input {
	border: 1px solid #d3d3d3;
	color: #4c4c4c;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 100%;
}
#main #content table input.check {
	width: auto !important;
	border: none !important;
	color: auto !important;
}
#main #content #csv-buttons {
	height: 20px;
	font-weight: bold;
}
#main #content table.tableLists th,
#main #content table.tableLists td {
	height: 22px;
	padding: 0;
	empty-cells: show;
}
#main #content table.tableLists tr.header-row {
	background:transparent url(/images/cms/admin/mac/common/tab.jpg) repeat-x scroll 0 -2px;
}
#main #content table.tableLists .column,
#main #content table.tableLists td.ti,
#main #content table.tableLists tr.filter-row th {
	border-right: 1px dotted #ddd;
	font-family: Arial,Helvetica,Sans-Serif;
}
#main #content table.tableLists tr.ti .link {
	font-size: 12px!important;
}
#main #content table.tableLists th.void,
#main #content table.tableLists tr.filter-row th.filter-void {
	border-right: none;
	empty-cells: show;
	width: 20px;
}
#main #content table.tableLists tr.selected {
	background-color: #c8efff;
}
#main #content table.tableLists .column div {
	overflow: hidden;
	white-space: nowrap;
	width: 100px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
#main #content table.tableLists td.column div {
	margin-left: 8px;
	line-height: 18px;
}

#main #content table.tableLists th.column div {
	cursor: pointer;
	padding: 0;
	margin-left: 8px;
	position: relative;
	_position: static;
	/*color: #676767;*/
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#main #content table.tableLists th.column div.asc {
	background: url(/images/cms/admin/mac/tree/order-asc.gif) no-repeat 100% 2px;
}
#main #content table.tableLists th.column div.desc {
	background: url(/images/cms/admin/mac/tree/order-desc.gif) no-repeat 100% 4px;
}
#main #content table.tableLists td.column div a {
	color: #333;
	font-size: 14px;
}
#main #content table.tableLists td td.column div a {
	color: #333;
	font-size: 12px;
}
#main #content table.tableLists tr.filter-row th input,
#main #content table.tableLists tr.filter-row th select {
	margin: 0 2px;
}
#main #content table.tableLists thead th {
	text-align: left;
}
#main #content table.tableLists thead th div {
	zoom: 1;
}
#main #content table.tableLists th.column span {
	cursor: e-resize;
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 8px;
	z-index: 1;
}
#main #content table.tableLists th div.invoke-btn {
	background: url(/images/cms/admin/mac/tree/show_menu.png) no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 4px;
	margin-top: 3px;
	padding: 1px;
	width: 22px;
}
#main #content ul.tree-container div.pages-bar a,
#main #content table.tableLists td.pages-bar a {
	color: #0088e8;
	font-weight: bold;
	margin-left: 7px;
	font-size: 12px;
}
#main #content ul.tree-container div.pages-bar a.current,
#main #content table.tableLists td.pages-bar a.current {
	color: black;
	cursor: default;
}
#main #content #csv-buttons a {
	margin-right: 20px;
	padding: 2px 0 2px 18px;
}
#main #content #csv-buttons a.csvExport {
	background: url(/images/cms/admin/mac/ico_csv_export.png) no-repeat;
}
#main #content #csv-buttons a.csvImport {
	background: url(/images/cms/admin/mac/ico_csv_import.png) no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#main #content table.tableLists {
		/* background-position: 0 0px; */
	}
	#main #content table.tableLists th select {
		height: 17px;
	}
}
#main #content {
	margin-left: 20px;
	margin-right: 26%;
	font-family: Arial, Helvetica, Sans-Serif;
	/* position: relative; */
}
#main .content-expanded {
	margin-right : 20px !important;
}
#main .clear {
	_clear: right;
}
#main #content .filter-container {
	margin-bottom: 20px;
}
#main #content #search.filter-container {
	float: right;
}
#main #content .filter-container .fcModeContainer a {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#main #content .filter-container .fcModeContainer,
#main #content .filter-container .fcContainer {
	clear: both;
	width: 400px;
}
#main #content .filter-container table {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 400px;
}
#main #content .filter-container img {
	cursor: pointer;
}
#main #content .domain_choice select,
#main #content .filter-container input,
#main #content .filter-container select,
#main #content .filter-container textarea {
	background: white;
	border: 1px solid #aaa;
	width: 250px;
	color: #4c4c4c;
	font-size: 11px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#main #content .filter-container input.fcQuicksearchInput {
	background: white url(/images/cms/admin/mac/tree/search.gif) no-repeat 2px 2px;
	font-size: 12px;
	margin: 0;
	padding: 2px 0;
	padding-left: 19px;
	width: 330px;
	width /*\**/: 309px\9;
	*width: 309px;
	_width: 330px;
	_height: 20px;
}
#main #content .filter-container input.fcApplyButton {
	font-weight: bold;
	height: 20px;
	margin-left: 15px;
	padding-bottom: 3px;
	padding-top: 2px;
	width: 55px;
	font-size: 11px;
	background: #f0f0f0;
}
html>/**/body noindex:-o-prefocus, html>/**/body #main #content .filter-container input.fcApplyButton {
	position:relative;
	bottom:1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#main #content .filter-container input.fcApplyButton {
		padding:0 0 3px;
		margin:0;
		position:relative;
		bottom:2px;
		left:15px;
	}
}
#main #content .filter-container input.fcLogicInput,
#main #content .filter-container input.fcBooleanInput {
	background: none;
	border: none;
	width: auto;
}
#main #content .filter-container .fcLogicLabel {
	margin-bottom: 20px;
}
#main #content .filter-container .logic label {
	margin-bottom: 0;
	display: inline;
}
#main #content .filter-container .view_section {
	margin-right: 212px;
}
#main #content .filter-container .fcApplyCell {
	text-align: right;
}
#main #content .filter-container .fcLogicTitle {
	font-weight: bold;
}
#main #content .imgButtonWrapper {
	float: left;
}
#main #content .imgButtonWrapper a {
	display: block;
	float: left;
	background: url(/images/cms/admin/mac/ico_add.png) no-repeat;
	height: 24px;
	line-height: 23px;
	text-indent: 34px;
	margin-right: 20px;
	padding-right : 10px;
	font-weight: bold;
	font-size: 12px;
}
#main #content .imgButtonWrapper a.view {
	background-image: url(/images/cms/admin/mac/ico_subitems.gif);
}
#main #content .imgButtonWrapper a.del {
	background-image: url(/images/cms/admin/mac/ico_trash_empty.gif);
}
#main #content .domain_choice {
	text-align: right;
	margin-bottom: 20px;
}
#main #content .domain_choice select {
	width: 400px;
}
#main #content .tree-container {
	margin: 0 0 20px 0;
	position: relative;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius: 9px;
	background:white;
	border:1px solid #B5C3C9;
	padding:8px 0 8px 8px;
}
#main #content .tree-container a {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
#main #content .tree-container ul li a {
	font-size: 14px;
	font-weight: normal;
}
#main #content .tree-container ul li ul li a {
	font-size: 12px;
}
#main #content .ti-childs-container {
	margin: 0 0 0 19px;
}
#main #content .ti {
	margin: 2px 0 0 0;
}
#main #content .tree-container ul li .main-page a {
	font-weight: bold;
}
#main #content .selected,
#main #content .selected-highlight {
	background-color: #c8efff;
}
#main #content .hightlight {
	background-color: #e5e5e5;
}
#main #content .ti-toggle {
	border: 0 none;
	height: 11px;
	margin-left: 2px;
	width: 11px;
}
#main #content td.ti-toggle {
	height: auto;
	width: 20px;
	text-align: center;
}
#main #content .ti-icon {
	height: 16px;
	margin: 0px 5px 4px 5px;
	vertical-align: middle;
	width: 16px;
}
#main #content ul li ul li div .ti-icon {
	cursor: move;
}
#main #content table td .ti-icon {
	margin: 0px 5px 2px 0px;
}
#main #content .panel .content div.field label.inline {
	display: inline-block;
	white-space: nowrap;
	*zoom: 1;
	*display: inline;
}
img.page-status {
	width: 7px;
	height: 7px;
	z-index: 2;
	margin-top: 8px;
	margin-left: -20px;
	position: absolute;
	_position: none;
}
div.ti-drop {
	height: 2px;
	overflow: hidden;
	background: #00008b;
	position: absolute;
	z-index:100;
}
div.ti-drop-as-child {
	height: 2px;
	margin-left: 20px;
	background: #00008b;
	overflow: hidden;
}
div.ti-drop-as-sibling {
	height: 2px;
	background: #00008b;
	overflow: hidden;
}
#main #content div.ti-draggable {
	height: 21px;
	cursor: move;
}
#main #content div.ti-draggable div {
	margin-left: 20px;
	padding-top: 5px;
}
#main #content .panel .content #group-fields .groupsContainer .fg_add_group,
#main #content .panel .content #group-fields #groupsContainer .fg_add_group {
	margin-bottom: 10px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container,
#main #content .panel .content #group-fields #groupsContainer div.fg_container {
	border: 1px solid #c0c0c0;
	margin-bottom: 13px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_header,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_header {
	background: #e3e9ef;
	border-bottom: 1px solid #c0c0c0;
	height: 22px;
	font-weight: bold;
	line-height: 21px;
	text-indent: 10px;
	cursor: move;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_header span,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_header span {
	float: right;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_header span.left,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_header span.left {
	float: left;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_header a,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_header a {
	font-weight: normal;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container span a,
#main #content .panel .content #group-fields #groupsContainer div.fg_container span a {
	display: block;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_header span a,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_header span a {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container span a.edit,
#main #content .panel .content #group-fields #groupsContainer div.fg_container span a.edit {
	background-image: url(/images/cms/admin/mac/tree/ico_edit.png);
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container span a.remove,
#main #content .panel .content #group-fields #groupsContainer div.fg_container span a.remove {
	background-image: url(/images/cms/admin/mac/tree/ico_del.png);
}
#main #content .panel .content #group-fields .groupsContainer div.invisible,
#main #content .panel .content #group-fields #groupsContainer div.invisible {
	border-color: #e7e7e7;
}
#main #content .panel .content #group-fields .groupsContainer div.ui-sortable-placeholder,
#main #content .panel .content #group-fields #groupsContainer div.ui-sortable-placeholder {
	border: 1px dotted #c0c0c0;
	visibility: visible!important;
}
#main #content .panel .content #group-fields .groupsContainer div.locked .fg_container_header,
#main #content .panel .content #group-fields #groupsContainer div.locked .fg_container_header {
	cursor: default;
}
#main #content .panel .content #group-fields .groupsContainer div.invisible .fg_container_header,
#main #content .panel .content #group-fields #groupsContainer div.invisible .fg_container_header {
	background-color: #f4f7f9;
	border-bottom-color: #e7e7e7;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body {
	background: white;
	padding: 5px 0;
}
#main #content .panel .content #group-fields .groupsContainer .fg_add_group,
#main #content .panel .content #group-fields #groupsContainer .fg_add_group,
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body .fg_add_field,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body .fg_add_field {
	display: block;
	height: 23px;
	margin-left: 5px;
}
#main #content .panel .content #group-fields .groupsContainer .fg_add_group a,
#main #content .panel .content #group-fields #groupsContainer .fg_add_group a,
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body .fg_add_field a,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body .fg_add_field a {
	background: url(/images/cms/admin/mac/ico_data_add.gif) no-repeat;
	display: block;
	text-indent: 25px;
	float: left;
	border: 1px solid #d1d1d1;
	height: 21px;
	line-height: 21px;
	padding: 0 3px;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul {
	margin: 0 10px;
	padding: 5px 0 0 0;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li {
	border-top: 1px dotted #c0c0c0;
	/* margin-bottom: 5px; */
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li.invisible .left,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li.invisible .left {
	color: #acacac;
	/* margin-bottom: 5px; */
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li.locked,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li.locked {
	/* border-color: #e7e7e7; */
	cursor: default;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li.ui-sortable-field-placeholder
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li.ui-sortable-field-placeholder {
	border: 1px dotted #c0c0c0;
	cursor: default;
	/* margin-bottom: 5px; */
	height: 25px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li .view,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li .view {
	/* background: #e3e9ef; */
	height: 25px;
	line-height: 23px;
	text-indent: 10px;
	cursor: move;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li.locked .view,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li.locked .view {
	/* background-color: #f4f7f9; */
	cursor: default;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li .view span,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li .view span {
	float: right;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li .view span a,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li .view span a {
	width: 25px;
	height: 25px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li .view .left,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li .view .left,
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li .view .left span,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li .view .left span {
	float: left;
	height: 25px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container .fg_container_body ul li .view .left span,
#main #content .panel .content #group-fields #groupsContainer div.fg_container .fg_container_body ul li .view .left span {
	text-overflow: ellipsis;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container div.group_edit,
#main #content .panel .content #group-fields #groupsContainer div.fg_container div.group_edit,
#main #content .panel .content #group-fields .groupsContainer div.fg_container div.edit
#main #content .panel .content #group-fields #groupsContainer div.fg_container div.edit {
	padding-top: 7px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container div.edit,
#main #content .panel .content #group-fields #groupsContainer div.fg_container div.edit {
	border-top: 1px solid #c0c0c0;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form {
	margin: 0px 10px 5px 10px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form div,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form div {
	margin-bottom: 10px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form div.buttons,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form div.buttons {
	padding-top: 0;
	height: 20px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form label,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form label {
	display: block;
	margin-bottom: 5px;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form label.boolean,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form label.boolean {
	display: inline;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form input,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form input,
#main #content .panel .content #group-fields .groupsContainer div.fg_container form select,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form select {
	border: 1px solid #d3d3d3;
	color: #4c4c4c;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	margin: 0;
	width: 90%;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form input.button,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form input.button {
	margin: 0;
	width: auto;
	cursor: pointer;
}
#main #content .panel .content #group-fields .groupsContainer div.fg_container form input.boolean,
#main #content .panel .content #group-fields #groupsContainer div.fg_container form input.boolean {
	border: none;
	width: auto;
}
#main #content #webo_in .buttons {
	padding-top: 5px;
	height: 20px;
}
#main #content #webo_in .webo_err {
	margin-bottom: 10px;
}
#main #content #webo_in .webo_err strong {
	margin-right: 5px;
}
#main #content #webo_in dl dt {
	width: 140px;
	float: left;
}
#main #content #webo_in dl dt img {
	border: 1px solid silver;
	padding: 3px;
	margin-top: 5px;
}
#main #content #webo_in dl dd {
	margin-left: 160px;
}
#main #content #webo_in dl dd .site_name {
	font-size: 20px;
}
#main #content #webo_in dl dd .ratings {
	width: 30%;
	float: left;
}
#main #content #webo_in dl dd .ratings div {
	margin: 10px 0;
}
#main #content #webo_in dl dd .ratings div div {
	font-size: 20px;
	margin: 0;
}
#main #content #webo_in dl dd .ratings div div span {
	font-size: 22px;
	color: orange;
}
#main #content #webo_in dl dd .info {
	margin-left: 31%;
	padding: 10px 0;
}
#main #content #webo_in dl dd .info div {
	line-height: 20px;
}
#main #content #webo_in dl dd .info div strong {
	margin-left: 5px;
}
#main #content #webo_in #webo_main h2 {
	margin: 0 0 10px 0;
	color: #676767;
	font-size: 18px;
}
#main #content #webo_in #webo_main #webo_analyze ol {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
}
#main #content #webo_in #webo_main #webo_analyze ol li {
	margin: 0 0 5px 0;
}
#main #content #webo_in #webo_main #webo_analyze ol li strong.name {
	display: block;
}
#main #content #webo_in #webo_main #webo_files table {
	width: 100%;
	border-collapse: collapse;
	font-size: 11px;
}
#main #content #webo_in #webo_main #webo_files table#webo_google td div {
	line-height: 20px;
}
#main #content #webo_in #webo_main #webo_files table#webo_google td div span {
	color: orange;
	font-size: 17px;
	margin-right: 3px;
}
#main #content #webo_in #webo_main #webo_files table#webo_files_table {
	border: 2px solid #c8d5e6;
	margin-bottom: 10px;
}
#main #content #webo_in #webo_main #webo_files table#webo_files_table th,
#main #content #webo_in #webo_main #webo_files table#webo_files_table td {
	border: 1px solid #c8d5e6;
	padding: 5px;
}
#main #content #webo_in #webo_main #webo_files table#webo_files_table th {
	background: #ebf0f6;
}
#main #content #webo_in .webo_copy {
	text-align: right;
	margin-bottom: 20px;
}
#foot {
	height: 30px;
	margin-top: -30px;
	clear: both;
	position: relative;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
#foot a {
	color: #787b81;
	font-size: 10px;
}
#foot a#support {
	float: right;
	margin-right: 20px;
}
#foot a#support span {
	text-transform: uppercase;
}
#foot a#copy {
	margin-left: 20px;
}
#umiMessages {
	display:none;
}
#umiMessages div.mess_actions {
	text-align: right;
	padding-right: 20px;
}
#umiMessages div.mess_actions a {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	color: #0088E8;
	text-decoration: none;
}
#statLinks a {
	margin:0 10px 0 0
}
.tabsStat {
	padding: 0 0 20px
}
.hideTab {
	display: none
}
.showTab {
	display: block
}
#statTopPopular th div {
	cursor: pointer;
}
.activeTab {
	color: black;
	font-weight: 600;
	cursor: default;
}
.stat-value, .stat-value-all {
	width: 25%
}
.symlinkAutosuggest , .relationAutosuggest{
	border: 1px solid #d3d3d3;
	background: white;
}
.symlinkAutosuggest ul li, .relationAutosuggest ul li {
	padding: 5px 10px;
}
.symlinkAutosuggest ul li.active, .relationAutosuggest ul li.active {
	background: #ceeaf6;
}
.symlinkAutosuggest ul li img {
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.type_select {
	border : 1px solid white;
}
.type_select_gray {
	border : 1px solid #fafafa;
}
.type_select_active {
	border : 1px solid #d3d3d3;
	background : white;
	border-bottom : none;
	z-index:10000000;
}
ul.type_select {
	border : 1px solid #d3d3d3;
	border-top : none;
	background : white;
	margin-top : 1px;
	max-height: 255px;
	overflow-y: auto;
	overflow-x: hidden;
}
ul.type_select li {
	line-height: 1.2;
	padding : 5px;
	height: 11px;
}
ul.type_select li:hover {
	background : #ceeaf6;
}
ul.type_select li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	display: inline-block;
}
div.tree_toolbar {
	position: absolute;
	z-index: 100;
	height: 22px;
	overflow: hidden;
	padding: 2px 0 0 0;
	width: 185px;
	right: 0;
}
div.tree_toolbar a.tree_toolbtn {
	display: block;
	float: right;
	height: 16px;
	margin-left: 10px;
	margin-top: 2px;
	width: 16px;
}

#snapshots-errors {
	clear: both;
}
#main #content table.tableLists td.column div .label-virtual {font-size:11px;color:#333;}
#main #head .help.nobg {
	background: url("/images/cms/admin/mac/icons/help_block1.png") no-repeat;
}

#main #content #webo_in div.button {
	margin: 10px 0;
	*margin: 5px 0;
}

#yandex_table {
	margin-top:20px;
}

#main #content table.tableLists .column div.bright {
	width: 200px;
}

#charts_submenu a {
	margin-right: 10px;
}

#charts_submenu a.act {
	text-decoration: underline;
}

.filter_submenu {
	margin-bottom: 20px;
	text-align: center;
}

.filter_submenu a {
	margin-left: 10px;
	border-bottom: blue 1px dashed;
}

.filter_submenu a.act {
	color:gray;
	border-bottom:none;
}

#chart {
	height: 360px;
	width: 700px;
	text-align: center;
}

#charts {
	padding: 10px;
}

#charts a {
	display: block;
	border:none;
	margin: 5px;
	padding: 5px;
	border:3px solid #0088E8;
}

#tableChart {
	margin-top: 40px;
}

.gettoken, .filter_submenu a.gettoken {
	background: url("/images/cms/admin/mac/common/button_center.jpg") repeat-x scroll 0 0 transparent;
	border: medium none !important;
	color: white !important;
	cursor: pointer;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
	border-radius: 5px 5px 5px 5px;
	margin-left: 0px;
}
#main #content .panel .content div.field span.label a.edit_a {
	float: none
}

#search_result.active {
	padding-bottom: 10px;
	font-weight: bold;

}

#loading {
	text-align: center;
}

#form_body {
	margin-top: 20px;
}

#ask_support_form label {
	display: block;
	margin-top: -1px;
	position: absolute;
	text-align: left;
	width: 240px;
}

#ask_support_form .input {
	color: black;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 8px 250px;
	padding: 1px 0;
	width: 390px;
}

#ask_support_form textarea {
	height: 200px;
	border: 1px solid #CCCCCC;
}

#ask_support_form select, #ask_support_form textarea {
	color: black;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin: 8px 0 8px 250px;
	padding: 1px 0;
	width: 390px;
}

#info_support {
	display:none;
}

#info_support h4 {
	margin: 6px 0;
}

#show_info {
	border-bottom:1px dashed;
	color:#0088E8;
	cursor:pointer;
	font-size:11px;
	font-weight: bold;
	display:none;
}

#info_support ul li {
	background: url("/images/cms/admin/mac/common/bullet.gif") no-repeat scroll 0 6px transparent;
	list-style: none outside none;
	padding-left: 15px;
}

#info_support div.left {
	float: left;
	margin-bottom: 15px;
	width: 50%;
}

#info_support div.right {
	float: right;
	width: 50%;
}


.c-emarket-orderstatus-27258 {color: #735184;}
.c-emarket-orderstatus-27263 {color: #3caa3c;}
.c-emarket-orderstatus-27260 {color: #0080ff;}
.c-emarket-orderstatus-27261 {color:#003399;}
.c-emarket-orderstatus-27262 {color: #ff4f00;}
.c-emarket-orderstatus-27259 {color: #cccccc;}
.c-emarket-orderstatus-27264 {color: #00d0d0;}
.c-emarket-orderstatus-editing {color: #345830;}

.c-emarket-orderdeliverystatus-27377 {color: #0080ff;}
.c-emarket-orderdeliverystatus-27378 {color:#003399;}
.c-emarket-orderdeliverystatus-27379 {color: #3caa3c;}

.c-emarket-orderpaymentstatus-27380	{color:#003399;}
.c-emarket-orderpaymentstatus-27381	{color: #00d0d0;}
.c-emarket-orderpaymentstatus-27382	{color: #735184;}
.c-emarket-orderpaymentstatus-27383	{color: #3caa3c;}

/*dashboard*/
#main .panel .content.dash {
	padding-right: 0;
}
div.dashboard .nothing{
	margin:20px 0;
}
form.dashboard_form {
	color:#424242;
	float: right;
	margin-left: 5px;
}
.dashboard .events_settings {
	font-size: 13px;
	width: 26%;
	float: right;
	margin: 0 0 35px 0;
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.dashboard .events_settings form fieldset div {
	margin: 5px 10px 8px 17px;
}
form.dashboard_form div {
	margin: 10px 9px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.dashboard .events_settings form {
	margin: 10px 0;
	padding-top: 3px;
}
.dashboard .events_settings form > div {
	margin: 10px 10px 5px 20px;
}
.dashboard .events_settings form > div acronym {
	width: 23px;
	display: inline-block;
	margin-right: 6px;
	text-transform: lowercase;
}
.dashboard .events_settings form > div input {
	margin-right: 6px;
	border: 1px solid #CBCBCB;
	border-radius: 2px;
	padding: 2px 5px;
}
.dashboard .events_settings form > div label input {
	width: 72%;
}
.dashboard .events_settings form > div label img {
	position: relative;
	top: 2px;
}
.dashboard .events_settings input {
	margin-right: 14px;
}
#statdate_settings {
	float: left;
	margin: 20px 0 25px!important;
}
#ui-datepicker-div {
	z-index: 120!important;
}
#statdate_settings acronym {
	padding: 0 10px
}
#statdate_settings .datePicker {
	float: left;
}
#statdate_settings .ui-datepicker-trigger {
	padding: 0 2px;
}
#statdate_settings .buttons {
	float: right;
	margin: -2px 0 0 10px;
}
/*.dashboard .events_settings input[type="submit"], #main .panel .content form.dashboard_form input[type="submit"] {
	width: 88px;
	border:none;
	background-color: #dfdfdf;
	box-shadow: 1px 1px #b5b5b5;
	margin: 10px 8px 10px 15px;
	padding: 4px 3px 2px 3px;
	color:#424242;
	font-size: 12px;
	font-family: Arial,Helvetica,Sans-Serif;
	cursor: pointer;
}*/
#main #content .panel .content .dashboard .events_settings .buttons {
	margin-top: 2px;
	margin-bottom: 10px;
}
#main #content .panel .content .dashboard .events_settings .buttons > div {
	float: none;
	margin: 0;
	display: inline-block;
}
#main #content .panel .content .dashboard .events_settings .buttons > div input {
	margin: 0;
	padding: 0 6px;
}
form.dashboard_form input[type="submit"] {
	margin-left: 7px;
}
form.dashboard_form div img {
	position: relative;
	top: 3px;
}
div.new_events {
	width: 31.8%;
	display: inline-block;
	vertical-align: top;
	border: #c1c1c1 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
	margin: 0 1% 22px 0;
	zoom: 1;
	*display: inline;
	height: 337px;
	position: relative;
}
@media all and (min-width: 1540px) {
	div.new_events {
		width: 23.6%;
		margin-right: 1%;
	}
	div.new_events:nth-of-type(3n+3) {
		margin-right: 1%;
	}
	div.new_events:nth-of-type(4n+4) {
		margin-right: 0;
	}
}
div.new_events table {
	border-collapse: collapse;
	width: 100%;
}
div.new_events table td {
	border-bottom: #e6e6e6 1px solid;
	font-size: 13px;
	color: #424242;
	padding-right: 10px;
}
div.new_events table td.date {
	padding: 20px 15px;
	color: #8e8e8e;
	width: 71px;
	height: 32px;
}
div.new_events table a {
	display: inline-block;
	max-width: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}
div.new_events .events_header {
	background: #f5f5f5;
	border-bottom: #c1c1c1 1px solid;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	min-height: 80px;
}
div.new_events .events_header img, .tableDashboard .events_header img {
	position: absolute;
	right: 8px;
	top: 8px;
}
div.new_events .events_header span {
	color: #087aca;
	font-size: 55px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 32px 0 15px;
	zoom: 1;
	*display: inline;
}
.tableDashboard .events_header span.amount {
	color: #087aca;
	font-size: 55px;
	font-weight: bold;
	display: inline-block;
	margin: 10px 32px 0 2px;
	zoom: 1;
	*display: inline;
}
div.new_events .events_header div, .tableDashboard .events_header div {
	display: inline-block;
	vertical-align: top;
	margin-top: 27px;
	font-weight: bold;
	font-size: 14px;
	color: #433f3e;
	max-width: 41%;
	min-width: 41%;
	zoom: 1;
	*display: inline;
}
div.new_events .events_link {
	background: #f2f2f2;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-top: #ffffff 1px solid;
	position: absolute;
	width: 100%;
	bottom: 1px;
	left: 0;
	padding: 10px 0;
}
div.new_events .events_link a {
	font-size: 12px;
	margin-left: 20px;
}
.tableDashboard {
	border: #c1c1c1 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 13px;
	width: 72%;
	margin: 35px 0;
	font-family: Arial,Helvetica,Sans-Serif;
}
.dashboard .tableDashboard {
	max-height: 10000px !important;
}
.tableDashboard table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #E6E6E6;
}
.tableDashboard table td {
	padding: 14px 20px 9px 20px;
	font-size: 13px;
}
.tableDashboard table tr.unread td:nth-of-type(2) {
	font-size: 12px;
	font-weight: bold;
}
.tableDashboard table tr.read td:nth-of-type(2) {
	font-size: 12px;
}
.tableDashboard table tr.read td {
	opacity: 0.5;
}
.tableDashboard table tr:nth-of-type(even) {
	background: #f2f2f2;
}
.tableDashboard .events_header {
	background: #f5f5f5;
	border-bottom: #c1c1c1 1px solid;
	text-align: left;
	padding: 8px 10px 9px 20px;
	min-height: 42px;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
.tableDashboard .events_header input#select_all {
	margin-top: 15px;
	margin-right: 10px;
}
.tableDashboard .events_header label {
	margin-top: 15px;
}
.tableDashboard table input {
	margin: 2px 0 6px 4px;
}
.tableDashboard .cont_pages_bar {
	background: none repeat scroll 0 0 #F2F2F2;
	border-top: 1px solid #fff;
	padding: 22px 15px 20px 23px;
	text-align: right;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	height: 15px;
}
.tableDashboard table tr.selected, #main #content .tableDashboard table tr.selected {
	background-color: #e0eff8;
}
.tableDashboard .pages-bar {
	text-align: left;
	float: left;
}
.tableDashboard .pages-bar span {
	font-size: 12px;
}
.tableDashboard .pages-bar a {
	margin-left: 7px;
	font-size: 12px;
	font-weight: bold;
}
.tableDashboard .pages-bar a.current {
	color: #000;
	cursor: default;
}
.dashboard .events_settings fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
.dashboard .events_settings .settings_header {
	background: none repeat scroll 0 0 #f5f5f5;
	border-bottom: 1px solid #C1C1C1;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	padding: 23px 10px 10px 19px;
	font-weight: bold;
	height: 27px;
}
.dashboardWrapper {
	border-radius: 5px 5px 5px 5px;
}
.dashboardWrapper .tableDashboard {
	margin: 0;
}
.dashboardWrapper .tableDashboard a.show_all {
	background: url('/images/cms/admin/mac/show_all.png') no-repeat;
	height: 19px;
	width: 19px;
	display: inline-block;
}
.tableDashboard .preloader {
	background-color: '#FFFFFF';
	background: none repeat scroll 0 0 white;
	left: 0;
	position: absolute;
	z-index: 101;
}
.tableDashboard .preloader img {
	opacity: 0.5;
}
.tableDashboard .events_header div.buttons {
	clear: both;
	height: 25px;
	padding-top: 5px;
	margin-top: 9px;
	max-width: 1000px;
	min-width: 390px;
	margin-left: 80px;
}
.tableDashboard .events_header div.buttons div {
	float: right;
	margin: 0 5px;
	position: relative;
	width: auto;
	max-width: 200px;
	min-width: 1px;
	float: left !important;
}
.tableDashboard .events_header div.buttons input,
#main #content .panel .content .tableDashboard .events_header div.buttons input {
	background: url("/images/cms/admin/mac/common/button_center_disabled.jpg") repeat-x scroll 0 0 transparent;
	border: medium none !important;
	color: white !important;
	cursor: pointer;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 17px;
	margin-top: 0;
}
.tableDashboard .events_header div.buttons div.act input,
#main #content .panel .content .tableDashboard .events_header div.buttons div.act input {
	background-image: url("/images/cms/admin/mac/common/button_center.jpg");
}
.tableDashboard .events_header div.buttons span {
	display: block;
	height: 17px;
	position: absolute;
	top: 0;
	width: 5px;
	margin: 0;
}
.tableDashboard .events_header div.buttons span.l,
#main #content .panel .content .tableDashboard .events_header div.buttons span.l {
	background: url("/images/cms/admin/mac/common/button_left_disabled.jpg") no-repeat scroll 0 0 transparent;
	left: 0;
}
.tableDashboard .events_header div.buttons div.act span.l,
#main #content .panel .content .tableDashboard .events_header div.buttons div.act span.l {
	background-image: url("/images/cms/admin/mac/common/button_left.jpg");
}
.tableDashboard .events_header div.buttons span.r,
#main #content .panel .content .tableDashboard .events_header div.buttons span.r {
	background: url("/images/cms/admin/mac/common/button_right_disabled.jpg") no-repeat scroll 0 0 transparent;
	right: 0;
}
.tableDashboard .events_header div.buttons div.act span.r,
#main #content .panel .content .tableDashboard .events_header div.buttons div.act span.r {
	background-image: url("/images/cms/admin/mac/common/button_right.jpg");
}
/*dashboard*/

/*paging*/
#main #content .paging,
#main .panel .content .paging {
	text-align: right;
}
#main #content .paging #per_page_limit .per_page_limit,
#main .panel .content .paging #per_page_limit .per_page_limit {
	margin-left: 7px;
	cursor: pointer;
}
#main #content .paging #per_page_limit .per_page_limit.current,
#main .panel .content .paging #per_page_limit .per_page_limit.current {
	cursor: default;
	color: black;
}
/*paging*/

/*yandex*/

#main #content .panel .content table.tableContent .token_button {
	width: 82px;
	padding-left: 0px;
}

#main #content .panel .content table.tableContent .token_button a:hover {
	text-decoration: underline;
}
/*yandex*/

#main #content #kvkInfo .credit.actions input{
	width: auto;
	margin-right: 10px;
}