@charset "UTF-8";
/* ================ COMPASS INIT =============== */
/* ================ CORE INIT =============== */
@font-face {
  font-family: Bender;
  src: url(../../fonts/Bender.otf);
}
@font-face {
  font-family: Bender_Bold;
  src: url(../../fonts/Bender_Bold.otf);
}
@font-face {
  font-family: Bender_Light;
  src: url(../../fonts/Bender_Light.otf);
}
/* ================ FRAMEWORK INIT =============== */
/* line 1, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
html {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #111111;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 9, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
body {
  margin: 0;
}

/* line 13, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 38, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 46, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 51, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 56, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
a {
  background-color: transparent;
  color: inherit;
}

/* line 61, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 66, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 70, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 75, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 79, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 84, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
small {
  font-size: 80%;
}

/* line 88, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 96, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 100, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 104, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 110, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 114, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
figure {
  margin: 0;
}

/* line 118, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 123, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
pre {
  overflow: auto;
}

/* line 127, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 135, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 145, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 154, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
button {
  overflow: visible;
}

/* line 158, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 163, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 171, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 176, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 182, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
input {
  line-height: normal;
  outline: none;
}
/* line 10, ../../sass/core/elements/_mixins.scss */
input:hover, input:active, input:focus {
  outline: none;
}

/* line 188, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 194, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 198, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 203, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 208, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 214, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 219, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
textarea {
  overflow: auto;
  outline: none;
}
/* line 10, ../../sass/core/elements/_mixins.scss */
textarea:hover, textarea:active, textarea:focus {
  outline: none;
}

/* line 225, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 229, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 234, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 239, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
[role="button"] {
  cursor: pointer;
}

/* line 243, ../../sass/framework/bootstrap-fx/assets/_normalize.scss */
p {
  margin: 0;
}

/* line 6, ../../sass/framework/bootstrap-fx/assets/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 6, ../../sass/framework/bootstrap-fx/assets/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 6, ../../sass/framework/bootstrap-fx/assets/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../../sass/framework/bootstrap-fx/assets/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 14, ../../sass/framework/bootstrap-fx/assets/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 17, ../../sass/framework/bootstrap-fx/assets/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-1, .fx-ms-1, .fx-sm-1, .fx-md-1, .fx-lg-1, .fx-xs-2, .fx-ms-2, .fx-sm-2, .fx-md-2, .fx-lg-2, .fx-xs-3, .fx-ms-3, .fx-sm-3, .fx-md-3, .fx-lg-3, .fx-xs-4, .fx-ms-4, .fx-sm-4, .fx-md-4, .fx-lg-4, .fx-xs-5, .fx-ms-5, .fx-sm-5, .fx-md-5, .fx-lg-5, .fx-xs-6, .fx-ms-6, .fx-sm-6, .fx-md-6, .fx-lg-6, .fx-xs-7, .fx-ms-7, .fx-sm-7, .fx-md-7, .fx-lg-7, .fx-xs-8, .fx-ms-8, .fx-sm-8, .fx-md-8, .fx-lg-8, .fx-xs-9, .fx-ms-9, .fx-sm-9, .fx-md-9, .fx-lg-9, .fx-xs-10, .fx-ms-10, .fx-sm-10, .fx-md-10, .fx-lg-10, .fx-xs-11, .fx-ms-11, .fx-sm-11, .fx-md-11, .fx-lg-11, .fx-xs-12, .fx-ms-12, .fx-sm-12, .fx-md-12, .fx-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 22, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-1, .fx-xs-2, .fx-xs-3, .fx-xs-4, .fx-xs-5, .fx-xs-6, .fx-xs-7, .fx-xs-8, .fx-xs-9, .fx-xs-10, .fx-xs-11, .fx-xs-12 {
  float: left;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-1 {
  width: 8.33333%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-2 {
  width: 16.66667%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-3 {
  width: 25%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-4 {
  width: 33.33333%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-5 {
  width: 41.66667%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-6 {
  width: 50%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-7 {
  width: 58.33333%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-8 {
  width: 66.66667%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-9 {
  width: 75%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-10 {
  width: 83.33333%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-11 {
  width: 91.66667%;
}

/* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-12 {
  width: 100%;
}

/* line 50, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-0 {
  right: auto;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-1 {
  right: 8.33333%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-2 {
  right: 16.66667%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-3 {
  right: 25%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-4 {
  right: 33.33333%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-5 {
  right: 41.66667%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-6 {
  right: 50%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-7 {
  right: 58.33333%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-8 {
  right: 66.66667%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-9 {
  right: 75%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-10 {
  right: 83.33333%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-11 {
  right: 91.66667%;
}

/* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-pull-12 {
  right: 100%;
}

/* line 40, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-0 {
  left: auto;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-1 {
  left: 8.33333%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-2 {
  left: 16.66667%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-3 {
  left: 25%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-4 {
  left: 33.33333%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-5 {
  left: 41.66667%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-6 {
  left: 50%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-7 {
  left: 58.33333%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-8 {
  left: 66.66667%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-9 {
  left: 75%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-10 {
  left: 83.33333%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-11 {
  left: 91.66667%;
}

/* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-push-12 {
  left: 100%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-0 {
  margin-left: 0%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-3 {
  margin-left: 25%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-6 {
  margin-left: 50%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-9 {
  margin-left: 75%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
.fx-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 480px) {
  /* line 22, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-1, .fx-ms-2, .fx-ms-3, .fx-ms-4, .fx-ms-5, .fx-ms-6, .fx-ms-7, .fx-ms-8, .fx-ms-9, .fx-ms-10, .fx-ms-11, .fx-ms-12 {
    float: left;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-1 {
    width: 8.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-2 {
    width: 16.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-3 {
    width: 25%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-4 {
    width: 33.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-5 {
    width: 41.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-6 {
    width: 50%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-7 {
    width: 58.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-8 {
    width: 66.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-9 {
    width: 75%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-10 {
    width: 83.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-11 {
    width: 91.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-12 {
    width: 100%;
  }

  /* line 50, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-0 {
    right: auto;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-1 {
    right: 8.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-2 {
    right: 16.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-3 {
    right: 25%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-4 {
    right: 33.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-5 {
    right: 41.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-6 {
    right: 50%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-7 {
    right: 58.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-8 {
    right: 66.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-9 {
    right: 75%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-10 {
    right: 83.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-11 {
    right: 91.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-pull-12 {
    right: 100%;
  }

  /* line 40, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-0 {
    left: auto;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-1 {
    left: 8.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-2 {
    left: 16.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-3 {
    left: 25%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-4 {
    left: 33.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-5 {
    left: 41.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-6 {
    left: 50%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-7 {
    left: 58.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-8 {
    left: 66.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-9 {
    left: 75%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-10 {
    left: 83.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-11 {
    left: 91.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-push-12 {
    left: 100%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-0 {
    margin-left: 0%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-3 {
    margin-left: 25%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-6 {
    margin-left: 50%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-9 {
    margin-left: 75%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-ms-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  /* line 22, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-1, .fx-sm-2, .fx-sm-3, .fx-sm-4, .fx-sm-5, .fx-sm-6, .fx-sm-7, .fx-sm-8, .fx-sm-9, .fx-sm-10, .fx-sm-11, .fx-sm-12 {
    float: left;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-1 {
    width: 8.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-2 {
    width: 16.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-3 {
    width: 25%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-4 {
    width: 33.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-5 {
    width: 41.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-6 {
    width: 50%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-7 {
    width: 58.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-8 {
    width: 66.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-9 {
    width: 75%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-10 {
    width: 83.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-11 {
    width: 91.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-12 {
    width: 100%;
  }

  /* line 50, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-0 {
    right: auto;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-3 {
    right: 25%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-6 {
    right: 50%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-9 {
    right: 75%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-pull-12 {
    right: 100%;
  }

  /* line 40, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-0 {
    left: auto;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-1 {
    left: 8.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-2 {
    left: 16.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-3 {
    left: 25%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-4 {
    left: 33.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-5 {
    left: 41.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-6 {
    left: 50%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-7 {
    left: 58.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-8 {
    left: 66.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-9 {
    left: 75%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-10 {
    left: 83.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-11 {
    left: 91.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-push-12 {
    left: 100%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 22, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-1, .fx-md-2, .fx-md-3, .fx-md-4, .fx-md-5, .fx-md-6, .fx-md-7, .fx-md-8, .fx-md-9, .fx-md-10, .fx-md-11, .fx-md-12 {
    float: left;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-1 {
    width: 8.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-2 {
    width: 16.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-3 {
    width: 25%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-4 {
    width: 33.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-5 {
    width: 41.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-6 {
    width: 50%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-7 {
    width: 58.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-8 {
    width: 66.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-9 {
    width: 75%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-10 {
    width: 83.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-11 {
    width: 91.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-12 {
    width: 100%;
  }

  /* line 50, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-0 {
    right: auto;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-1 {
    right: 8.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-2 {
    right: 16.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-3 {
    right: 25%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-4 {
    right: 33.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-5 {
    right: 41.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-6 {
    right: 50%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-7 {
    right: 58.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-8 {
    right: 66.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-9 {
    right: 75%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-10 {
    right: 83.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-11 {
    right: 91.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-pull-12 {
    right: 100%;
  }

  /* line 40, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-0 {
    left: auto;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-1 {
    left: 8.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-2 {
    left: 16.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-3 {
    left: 25%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-4 {
    left: 33.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-5 {
    left: 41.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-6 {
    left: 50%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-7 {
    left: 58.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-8 {
    left: 66.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-9 {
    left: 75%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-10 {
    left: 83.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-11 {
    left: 91.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-push-12 {
    left: 100%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-0 {
    margin-left: 0%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-3 {
    margin-left: 25%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-6 {
    margin-left: 50%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-9 {
    margin-left: 75%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 22, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-1, .fx-lg-2, .fx-lg-3, .fx-lg-4, .fx-lg-5, .fx-lg-6, .fx-lg-7, .fx-lg-8, .fx-lg-9, .fx-lg-10, .fx-lg-11, .fx-lg-12 {
    float: left;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-1 {
    width: 8.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-2 {
    width: 16.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-3 {
    width: 25%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-4 {
    width: 33.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-5 {
    width: 41.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-6 {
    width: 50%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-7 {
    width: 58.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-8 {
    width: 66.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-9 {
    width: 75%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-10 {
    width: 83.33333%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-11 {
    width: 91.66667%;
  }

  /* line 30, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-12 {
    width: 100%;
  }

  /* line 50, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-0 {
    right: auto;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-3 {
    right: 25%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-6 {
    right: 50%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-9 {
    right: 75%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 45, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-pull-12 {
    right: 100%;
  }

  /* line 40, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-0 {
    left: auto;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-1 {
    left: 8.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-2 {
    left: 16.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-3 {
    left: 25%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-4 {
    left: 33.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-5 {
    left: 41.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-6 {
    left: 50%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-7 {
    left: 58.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-8 {
    left: 66.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-9 {
    left: 75%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-10 {
    left: 83.33333%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-11 {
    left: 91.66667%;
  }

  /* line 35, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-push-12 {
    left: 100%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 55, ../../sass/framework/bootstrap-fx/assets/mixins/_grid-framework.scss */
  .fx-lg-offset-12 {
    margin-left: 100%;
  }
}
@-ms-viewport {
  width: device-width;
}
/* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
.visible-xs {
  display: none !important;
}

/* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
.visible-ms {
  display: none !important;
}

/* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
.visible-sm {
  display: none !important;
}

/* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
.visible-md {
  display: none !important;
}

/* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
.visible-lg {
  display: none !important;
}

/* line 20, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-ms-block,
.visible-ms-inline,
.visible-ms-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 479px) {
  /* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 7, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  table.visible-xs {
    display: table !important;
  }

  /* line 8, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 479px) {
  /* line 41, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 479px) {
  /* line 46, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 479px) {
  /* line 51, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .visible-ms {
    display: block !important;
  }

  /* line 7, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  table.visible-ms {
    display: table !important;
  }

  /* line 8, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  tr.visible-ms {
    display: table-row !important;
  }

  /* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  th.visible-ms,
  td.visible-ms {
    display: table-cell !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 60, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-ms-block {
    display: block !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* line 65, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-ms-inline {
    display: inline !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* line 70, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-ms-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 7, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  table.visible-sm {
    display: table !important;
  }

  /* line 8, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 80, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 85, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 90, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .visible-md {
    display: block !important;
  }

  /* line 7, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  table.visible-md {
    display: table !important;
  }

  /* line 8, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 99, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 104, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 109, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  /* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 7, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  table.visible-lg {
    display: table !important;
  }

  /* line 8, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 118, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  /* line 123, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  /* line 128, ../../sass/framework/bootstrap-fx/assets/_responsive-utilities.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 479px) {
  /* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .hidden-ms {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../../sass/framework/bootstrap-fx/assets/mixins/_responsive-visibility.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* ================ ASSETS INIT =============== */
/* line 1, ../../sass/assets/arctic/_arcticmodal.scss */
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* line 11, ../../sass/assets/arctic/_arcticmodal.scss */
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

/* line 19, ../../sass/assets/arctic/_arcticmodal.scss */
*:first-child + html .arcticmodal-container {
  height: 100%;
}

/* line 23, ../../sass/assets/arctic/_arcticmodal.scss */
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

/* line 29, ../../sass/assets/arctic/_arcticmodal.scss */
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

/* line 36, ../../sass/assets/arctic/_arcticmodal.scss */
.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}

/* line 43, ../../sass/assets/arctic/_arcticmodal.scss */
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000 url(../images/arctic-loading.gif) no-repeat 50% 50%;
}

/* line 1, ../../sass/assets/arctic/_simple.scss */
.box-modal {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #f9edd9;
  border: 1px solid #ffffff;
}

/* line 11, ../../sass/assets/arctic/_simple.scss */
.box-modal_close {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
  cursor: pointer;
}

/* line 21, ../../sass/assets/arctic/_simple.scss */
.box-modal_close:hover {
  color: #666;
}

/* line 2, ../../sass/assets/arctic/_modal.scss */
.box-modal {
  background: none repeat scroll 0 0 rgba(236, 224, 204, 0.8);
  border: 1px solid #e4d9c6;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 991px) {
  /* line 2, ../../sass/assets/arctic/_modal.scss */
  .box-modal {
    margin: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 2, ../../sass/assets/arctic/_modal.scss */
  .box-modal {
    padding: 40px 50px;
  }
}
@media screen and (max-width: 479px) {
  /* line 2, ../../sass/assets/arctic/_modal.scss */
  .box-modal {
    padding: 20px;
  }
}

/* line 21, ../../sass/assets/arctic/_modal.scss */
.box-modal .box-modal_close {
  background: url("../../images/close_big.png") no-repeat scroll 0 0 transparent;
  height: 19px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 19px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  /* line 21, ../../sass/assets/arctic/_modal.scss */
  .box-modal .box-modal_close {
    height: 26px;
    width: 26px;
    background: url("../../images/close_big.png") no-repeat scroll 0 0 transparent;
  }
}

/* line 39, ../../sass/assets/arctic/_modal.scss */
.box-modal .box-modal_close:hover, .del:hover {
  transform: rotate(90deg);
}
@media screen and (max-width: 479px) {
  /* line 39, ../../sass/assets/arctic/_modal.scss */
  .box-modal .box-modal_close:hover, .del:hover {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  /* line 46, ../../sass/assets/arctic/_modal.scss */
  .box-modal.custom-1 .wrp > .block-1 {
    float: left;
    width: 500px;
  }
}

/* line 54, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 > h3 {
  font-family: Bender_Light;
  font-size: 24px;
  color: #a03548;
}

/* line 60, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 > h2 {
  margin: 0;
  font-family: Bender_Light;
  font-size: 30px;
  color: #a03548;
}

/* line 67, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 > p {
  color: #786a7a;
  font-weight: 300;
}

/* line 73, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 > div > p {
  font-weight: 300;
}

/* line 77, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 > div > p > span {
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  /* line 81, ../../sass/assets/arctic/_modal.scss */
  .box-modal.custom-1 .wrp > .block-0 {
    float: left;
    margin: 0 20px 0 0;
    width: 300px;
  }
}

/* line 90, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp .block-0 > img {
  border: 1px solid #bdb19d;
  width: 100%;
}

/* line 95, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 > ul li {
  list-style: none;
  font-size: 14px;
  color: #565656;
  font-weight: 100;
}

/* line 102, ../../sass/assets/arctic/_modal.scss */
.box-modal ul li {
  list-style: none;
  font-weight: 100;
}

/* line 107, ../../sass/assets/arctic/_modal.scss */
.box-modal ul li:before {
  background: none repeat scroll 0 0 #a32139;
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 6px;
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: 6px;
}

/* line 123, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp button {
  width: 15px;
  height: 15px;
}

/* line 128, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-0 .slick-prev {
  background: url("../../images/landing/slick-2.png") no-repeat;
}

/* line 133, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-0 .slick-prev:hover {
  background: url("../../images/landing/slick-1-1.png") no-repeat;
}

/* line 137, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-0 .slick-next {
  background: url("../../images/landing/slick-1.png") no-repeat;
}

/* line 141, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-0 .slick-next:hover {
  background: url("../../images/landing/slick-2-1.png") no-repeat;
}

/* line 145, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 .price {
  text-align: right;
}

/* line 149, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 .price > p {
  font-size: 24px;
  color: #473637;
  display: inline-block;
  font-weight: 200;
}

/* line 156, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 .price > span {
  font-weight: 600;
  font-size: 36px;
  color: #a32139;
  margin: 0 0 0 5px;
}

/* line 163, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 .wrp > .block-1 .price .button-1 {
  width: 90%;
  display: none;
}

/* line 168, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-1 > .custom-3 {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

/* line 174, ../../sass/assets/arctic/_modal.scss */
.box-modal.custom-2 {
  width: 350px;
  padding: 30px 50px 20px;
}

/* line 179, ../../sass/assets/arctic/_modal.scss */
.callback > h5 {
  margin: 0 0 20px 0;
  color: #a32139;
  text-align: center;
  font-size: 16px;
}

/* line 185, ../../sass/assets/arctic/_modal.scss */
.callback > h3 {
  margin-top: 0;
  color: #a32139;
}

/* line 187, ../../sass/assets/arctic/_modal.scss */
.callback > p {
  font-size: 14px;
}

/* line 4, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 9, ../../sass/framework/bootstrap-fx/assets/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 194, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  /* line 194, ../../sass/assets/arctic/_modal.scss */
  .box-modal .form-buy {
    width: 350px;
  }
}
/* line 200, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy .css-label {
  display: block;
}
/* line 204, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy h5 {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
/* line 212, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy input[type='text'] {
  width: 100%;
  padding: 2px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bababa;
  margin-bottom: 5px;
}
/* line 219, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy .buttons {
  text-align: center;
  padding-top: 10px;
}
/* line 222, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy .buttons input {
  border: none;
  font-weight: 300;
  background-color: #800000;
  color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 16px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 231, ../../sass/assets/arctic/_modal.scss */
.box-modal .form-buy .buttons input:hover {
  background-color: #9a0000;
}
@media screen and (max-width: 991px) {
  /* line 238, ../../sass/assets/arctic/_modal.scss */
  .box-modal .autoplay {
    display: none;
  }
}
/* line 242, ../../sass/assets/arctic/_modal.scss */
.box-modal .autoplay img {
  padding: 2px;
}
/* line 247, ../../sass/assets/arctic/_modal.scss */
.box-modal .autoplay-for > div {
  display: none;
}
/* line 250, ../../sass/assets/arctic/_modal.scss */
.box-modal .autoplay-for > div:first-child {
  display: block;
  text-align: center;
}

/* line 257, ../../sass/assets/arctic/_modal.scss */
.callback form input[type="text"], .callback form input[type="file"] {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #a2a2a2;
  float: left;
  height: 37px;
  margin: 0 0 3%;
  padding: 0 3%;
  width: 98%;
  transition: 0.3s;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 272, ../../sass/assets/arctic/_modal.scss */
.callback form input[type="submit"] {
  border: medium none;
  border-radius: 2px;
  color: #fff;
  float: left;
  height: 37px;
  margin: 0 0 14px;
  width: 98%;
  background: none repeat scroll 0 0 #db1a43;
}

/* Slider */
/* line 3, ../../sass/assets/slick/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../../sass/assets/slick/_slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 25, ../../sass/assets/slick/_slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 29, ../../sass/assets/slick/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 34, ../../sass/assets/slick/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 43, ../../sass/assets/slick/_slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 49, ../../sass/assets/slick/_slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 55, ../../sass/assets/slick/_slick.scss */
.slick-track:after {
  clear: both;
}
/* line 59, ../../sass/assets/slick/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 63, ../../sass/assets/slick/_slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 67, ../../sass/assets/slick/_slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 70, ../../sass/assets/slick/_slick.scss */
.slick-slide img {
  display: block;
}
/* line 73, ../../sass/assets/slick/_slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 79, ../../sass/assets/slick/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 83, ../../sass/assets/slick/_slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 87, ../../sass/assets/slick/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 91, ../../sass/assets/slick/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 97, ../../sass/assets/slick/_slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 101, ../../sass/assets/slick/_slick.scss */
.block-0 ul li:before {
  content: '' !important;
  width: 0;
  height: 0;
}

/* Slider */
/* line 40, ../../sass/assets/slick/_slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url('/images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('/fonts/slick.eot');
  src: url('/fonts/slick.eot?#iefix') format("embedded-opentype"), url('/fonts/slick.woff') format("woff"), url('/fonts/slick.ttf') format("truetype"), url('/fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 58, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 77, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 81, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 85, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 90, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 100, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 102, ../../sass/assets/slick/_slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 106, ../../sass/assets/slick/_slick-theme.scss */
.slick-prev:before {
  content: "";
}
/* line 108, ../../sass/assets/slick/_slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 114, ../../sass/assets/slick/_slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 116, ../../sass/assets/slick/_slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 120, ../../sass/assets/slick/_slick-theme.scss */
.slick-next:before {
  content: "";
}
/* line 122, ../../sass/assets/slick/_slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 130, ../../sass/assets/slick/_slick-theme.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 134, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 142, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 150, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 162, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 164, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 168, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 185, ../../sass/assets/slick/_slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* ================ BASE INIT =============== */
/* line 1, ../../sass/base/btn/_btn.scss */
.btn {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 3, ../../sass/core/elements/_mixins.scss */
.btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
}
/* line 11, ../../sass/base/btn/_btn.scss */
.btn._gray {
  background-color: #c7beb1;
  color: #000;
}
/* line 14, ../../sass/base/btn/_btn.scss */
.btn._gray:hover {
  background-color: #e8dccc;
}
/* line 18, ../../sass/base/btn/_btn.scss */
.btn._red {
  background-color: #800000;
  color: #ffffff;
}
/* line 21, ../../sass/base/btn/_btn.scss */
.btn._red:hover {
  background-color: #b30000;
}
/* line 25, ../../sass/base/btn/_btn.scss */
.btn._dark {
  color: #ffffff;
  background-color: #2d2223;
}
/* line 28, ../../sass/base/btn/_btn.scss */
.btn._dark:hover {
  background-color: #a32139;
}

/* ================ UTILITES INIT =============== */
/* ================ MODULES INIT =============== */
/* line 1, ../../sass/modules/header/elements/_header.scss */
.header {
  background-color: #2d2223;
  position: relative;
}
@media screen and (max-width: 991px) {
  /* line 1, ../../sass/modules/header/elements/_header.scss */
  .header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 11, ../../sass/modules/header/elements/_header.scss */
  .header__row {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 30px 0;
  }
}
@media screen and (max-width: 991px) {
  /* line 11, ../../sass/modules/header/elements/_header.scss */
  .header__row {
    padding: 8px 0;
  }
}
/* line 22, ../../sass/modules/header/elements/_header.scss */
.header__cell {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  /* line 22, ../../sass/modules/header/elements/_header.scss */
  .header__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  /* line 28, ../../sass/modules/header/elements/_header.scss */
  .header__cell:first-child {
    text-align: left;
  }
  /* line 31, ../../sass/modules/header/elements/_header.scss */
  .header__cell:last-child {
    text-align: right;
  }
}
@media screen and (max-width: 991px) {
  /* line 22, ../../sass/modules/header/elements/_header.scss */
  .header__cell {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  /* line 39, ../../sass/modules/header/elements/_header.scss */
  .header__logo {
    display: block;
    padding-right: 80px;
  }
}
@media screen and (max-width: 991px) {
  /* line 39, ../../sass/modules/header/elements/_header.scss */
  .header__logo {
    display: block;
    height: 50px;
    margin: 0 0 0 50px;
  }
}
/* line 49, ../../sass/modules/header/elements/_header.scss */
.header__logo img {
  vertical-align: bottom;
  max-height: 100%;
}
/* line 54, ../../sass/modules/header/elements/_header.scss */
.header__text {
  color: #ffffff;
}
/* line 57, ../../sass/modules/header/elements/_header.scss */
.header__phone {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  /* line 57, ../../sass/modules/header/elements/_header.scss */
  .header__phone {
    display: none;
  }
}
/* line 65, ../../sass/modules/header/elements/_header.scss */
.header__address {
  color: #D3D3D3;
}
@media screen and (max-width: 768px) {
  /* line 65, ../../sass/modules/header/elements/_header.scss */
  .header__address {
    display: none;
  }
}

/* line 73, ../../sass/modules/header/elements/_header.scss */
.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

/* line 86, ../../sass/modules/header/elements/_header.scss */
.menu-btn {
  display: none;
  top: 12px;
  position: absolute;
  left: 18px;
  z-index: 9999;
  cursor: pointer;
  padding: 10px 10px;
}
@media screen and (max-width: 992px) {
  /* line 86, ../../sass/modules/header/elements/_header.scss */
  .menu-btn {
    display: block;
  }
}

/* line 99, ../../sass/modules/header/elements/_header.scss */
.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: white;
  z-index: 99;
}

/* line 108, ../../sass/modules/header/elements/_header.scss */
.responsive-menu {
  color: #fff;
  position: absolute;
  transform: translateX(-300px);
  transition: all 0.2s ease-out;
  top: 100%;
  left: 0;
  z-index: 9999;
  width: 280px;
  opacity: 0;
}

/* line 120, ../../sass/modules/header/elements/_header.scss */
.responsive-menu-list {
  padding: 0;
  margin: 0;
}

/* line 125, ../../sass/modules/header/elements/_header.scss */
.responsive-menu-item {
  padding: 0;
  position: relative;
  background: #1D1617;
}

/* line 131, ../../sass/modules/header/elements/_header.scss */
.responsive-menu-item:last-child a {
  border: none;
}

/* line 136, ../../sass/modules/header/elements/_header.scss */
.responsive-menu-link {
  display: block;
  border-bottom: 1px solid #3C3C3B;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 10px 15px 50px;
  background: #1D1617;
}

/* line 146, ../../sass/modules/header/elements/_header.scss */
.responsive-menu-link:hover {
  color: #800000;
  border-bottom: 1px solid #fff;
}

/* line 151, ../../sass/modules/header/elements/_header.scss */
.expand {
  transform: translateX(0);
  opacity: 1;
}

/* line 157, ../../sass/modules/header/elements/_header.scss */
.custom-6:before {
  background: url("../../images/landing/kraski.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 30px;
  left: 4%;
  position: absolute;
  top: 15%;
  width: 35px;
  background-size: contain;
}

/* line 169, ../../sass/modules/header/elements/_header.scss */
.custom-7:before {
  background: url("../../images/landing/kraski2.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 30px;
  left: 2%;
  position: absolute;
  top: 28%;
  width: 35px;
  background-size: contain;
}

/* line 181, ../../sass/modules/header/elements/_header.scss */
.custom-8:before {
  background: url("../../images/landing/reviews.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 43px;
  left: 4%;
  position: absolute;
  top: 15%;
  width: 50px;
}

/* line 192, ../../sass/modules/header/elements/_header.scss */
.custom-4:before {
  background: url("../../images/landing/contacts.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 25px;
  left: 4%;
  position: absolute;
  top: 15%;
  width: 27px;
  background-size: cover;
}

/* line 203, ../../sass/modules/header/elements/_header.scss */
.custom-5:before {
  background: url("../../images/landing/education36.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 34px;
  left: 4%;
  position: absolute;
  top: 24%;
  width: 32px;
}

/* line 215, ../../sass/modules/header/elements/_header.scss */
.header-phone-text-premium {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

/* line 219, ../../sass/modules/header/elements/_header.scss */
.header-phone-number-premium {
  font-weight: 300;
  color: #Fff;
  font-size: 28px;
  position: relative;
}

/* line 226, ../../sass/modules/header/elements/_header.scss */
.header-phone-number-premium:before {
  background: url("../../images/landing/phone-1.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 27px;
  left: -32px;
  position: absolute;
  top: 21%;
  width: 27px;
}

/* line 237, ../../sass/modules/header/elements/_header.scss */
a.ajax-arctic {
  color: #a32139;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  /* line 240, ../../sass/modules/header/elements/_header.scss */
  div.phone {
    display: none;
  }
}

/* line 1, ../../sass/modules/sub/elements/_sub.scss */
.sub {
  background-position: 100%;
  height: 90vh;
  background-size: cover;
  background-image: url("../../images/landing/sub.jpg");
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  /* line 1, ../../sass/modules/sub/elements/_sub.scss */
  .sub {
    margin-top: 60px;
    height: 520px;
    background: url("../../images/landing/sub.jpg") 90% no-repeat;
  }
}
@media screen and (min-width: 992px) {
  /* line 11, ../../sass/modules/sub/elements/_sub.scss */
  .sub__inner {
    height: 750px;
    padding: 250px 0 0 0;
  }
}
@media screen and (max-width: 991px) {
  /* line 11, ../../sass/modules/sub/elements/_sub.scss */
  .sub__inner {
    padding: 50px 0;
  }
}
/* line 20, ../../sass/modules/sub/elements/_sub.scss */
.sub__title, .sub__subtitle {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 991px) {
  /* line 20, ../../sass/modules/sub/elements/_sub.scss */
  .sub__title, .sub__subtitle {
    text-align: center;
  }
}
/* line 29, ../../sass/modules/sub/elements/_sub.scss */
.sub__title {
  margin: 0 0 15px 0;
}
@media screen and (min-width: 768px) {
  /* line 29, ../../sass/modules/sub/elements/_sub.scss */
  .sub__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  /* line 29, ../../sass/modules/sub/elements/_sub.scss */
  .sub__title {
    font-size: 28px;
    text-transform: uppercase;
  }
}
/* line 39, ../../sass/modules/sub/elements/_sub.scss */
.sub__subtitle {
  margin: 0;
}
@media screen and (min-width: 768px) {
  /* line 39, ../../sass/modules/sub/elements/_sub.scss */
  .sub__subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  /* line 39, ../../sass/modules/sub/elements/_sub.scss */
  .sub__subtitle {
    font-size: 16px;
  }
}

/* line 1, ../../sass/modules/benefit/elements/_benefit.scss */
.benefit {
  background-color: #f9edd9;
  padding: 20px 0;
}
/* line 4, ../../sass/modules/benefit/elements/_benefit.scss */
.benefit__item {
  display: block;
  text-align: center;
}
@media screen and (max-width: 991px) {
  /* line 4, ../../sass/modules/benefit/elements/_benefit.scss */
  .benefit__item {
    padding: 10px 0;
    height: 220px;
  }
}
/* line 12, ../../sass/modules/benefit/elements/_benefit.scss */
.benefit__img {
  margin: 0 auto 10px auto;
  width: 128px;
}
/* line 15, ../../sass/modules/benefit/elements/_benefit.scss */
.benefit__img img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: bottom;
}
/* line 21, ../../sass/modules/benefit/elements/_benefit.scss */
.benefit__text {
  color: #800000;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* line 29, ../../sass/modules/benefit/elements/_benefit.scss */
.contacts {
  text-align: center;
  display: none;
}
@media screen and (max-width: 991px) {
  /* line 29, ../../sass/modules/benefit/elements/_benefit.scss */
  .contacts {
    display: block;
    padding: 20px 15px;
  }
}
/* line 33, ../../sass/modules/benefit/elements/_benefit.scss */
.contacts__item {
  font-weight: bold;
}

/* line 1, ../../sass/modules/review/elements/_review.scss */
.review {
  padding: 15px 0;
  background-color: #f9edd9;
}
/* line 4, ../../sass/modules/review/elements/_review.scss */
.review__title {
  color: #800000;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 15px;
}
/* line 11, ../../sass/modules/review/elements/_review.scss */
.review__item {
  text-align: center;
}
@media screen and (max-width: 991px) {
  /* line 11, ../../sass/modules/review/elements/_review.scss */
  .review__item {
    padding: 10px 0;
  }
}
/* line 17, ../../sass/modules/review/elements/_review.scss */
.review__img {
  margin: 0 auto 10px auto;
  width: 160px;
}
/* line 20, ../../sass/modules/review/elements/_review.scss */
.review__img img {
  vertical-align: bottom;
}
@media screen and (max-width: 768px) and (min-width: 479px) {
  /* line 17, ../../sass/modules/review/elements/_review.scss */
  .review__img {
    float: left;
  }
}
/* line 25, ../../sass/modules/review/elements/_review.scss */
.review__name {
  color: #111111;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 10px 0;
}
/* line 31, ../../sass/modules/review/elements/_review.scss */
.review__text {
  color: #444444;
  font-size: 13px;
  font-style: italic;
}
@media screen and (min-width: 992px) {
  /* line 31, ../../sass/modules/review/elements/_review.scss */
  .review__text {
    padding: 0 20px;
  }
}

/* line 1, ../../sass/modules/garant/elements/_garant.scss */
.garant {
  padding: 15px 0;
  background-color: #2d2223;
}
@media screen and (max-width: 991px) {
  /* line 1, ../../sass/modules/garant/elements/_garant.scss */
  .garant {
    padding: 15px 0 50px 0;
  }
}
/* line 5, ../../sass/modules/garant/elements/_garant.scss */
.garant__title {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 15px;
}
/* line 12, ../../sass/modules/garant/elements/_garant.scss */
.garant__item {
  text-align: center;
}
@media screen and (max-width: 991px) {
  /* line 12, ../../sass/modules/garant/elements/_garant.scss */
  .garant__item {
    padding: 10px 0;
  }
}
/* line 18, ../../sass/modules/garant/elements/_garant.scss */
.garant__img {
  margin: 0 auto 10px auto;
}
@media screen and (max-width: 991px) {
  /* line 18, ../../sass/modules/garant/elements/_garant.scss */
  .garant__img {
    width: 40%;
  }
}
/* line 21, ../../sass/modules/garant/elements/_garant.scss */
.garant__img img {
  vertical-align: bottom;
}
/* line 25, ../../sass/modules/garant/elements/_garant.scss */
.garant__name {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 10px 0;
}
/* line 31, ../../sass/modules/garant/elements/_garant.scss */
.garant__text {
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  /* line 31, ../../sass/modules/garant/elements/_garant.scss */
  .garant__text {
    padding: 0 20px;
  }
}
/* line 37, ../../sass/modules/garant/elements/_garant.scss */
.garant__sub {
  color: #D3D3D3;
  font-size: 10px;
  margin: 10px 0 0 0;
  text-align: center;
}

/* line 1, ../../sass/modules/footer/elements/_footer.scss */
.footer {
  background-color: #2d2223;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  display: none;
}
@media screen and (max-width: 991px) {
  /* line 1, ../../sass/modules/footer/elements/_footer.scss */
  .footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}
/* line 15, ../../sass/modules/footer/elements/_footer.scss */
.footer__copy {
  margin: 0;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}
/* line 21, ../../sass/modules/footer/elements/_footer.scss */
.footer__link {
  color: inherit;
}
/* line 24, ../../sass/modules/footer/elements/_footer.scss */
.footer__phone {
  position: relative;
  display: inline-block;
}
/* line 29, ../../sass/modules/footer/elements/_footer.scss */
.footer__phone a {
  text-decoration: none;
}
/* line 31, ../../sass/modules/footer/elements/_footer.scss */
.footer__phone:before {
  background: url("../../images/landing/phone-1.png") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 27px;
  left: -32px;
  position: absolute;
  top: -15%;
  width: 27px;
}

/* line 1, ../../sass/modules/buy/elements/_buy.scss */
.buy {
  background-color: #ffffff;
  padding: 20px 0;
}
/* line 4, ../../sass/modules/buy/elements/_buy.scss */
.buy__box {
  padding-bottom: 20px;
  text-align: center;
}
/* line 8, ../../sass/modules/buy/elements/_buy.scss */
.buy__title {
  margin: 15px 0;
  font-size: 32px;
  font-weight: 500;
  color: #800000;
  text-align: center;
  font-family: Bender_Light;
  font-weight: bold;
}

/* line 1, ../../sass/modules/card/elements/_card.scss */
.card {
  border: 3px solid #D3D3D3;
  margin: 10px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media screen and (max-width: 767px) {
  /* line 1, ../../sass/modules/card/elements/_card.scss */
  .card {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  /* line 1, ../../sass/modules/card/elements/_card.scss */
  .card {
    margin: 10px;
    width: 220px;
    display: inline-block;
    vertical-align: top;
  }
}
/* line 20, ../../sass/modules/card/elements/_card.scss */
.card__header {
  font-size: 24px;
  text-align: center;
  padding: 10px 15px;
  font-family: Bender;
  color: #a03548;
}
/* line 27, ../../sass/modules/card/elements/_card.scss */
.card__descr {
  font-size: 14px;
  color: #786a7a;
  font-weight: 300;
  padding: 0 15px;
  display: block;
  text-align: center;
}
/* line 35, ../../sass/modules/card/elements/_card.scss */
.card__img {
  display: block;
  border: 1px solid #D3D3D3;
  margin: 10px 15px;
  padding: 15px;
  text-align: center;
}
/* line 41, ../../sass/modules/card/elements/_card.scss */
.card__img img {
  vertical-align: bottom;
}
/* line 45, ../../sass/modules/card/elements/_card.scss */
.card__price {
  font-size: 24px;
  text-align: center;
  display: block;
  color: #a03548;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  /* line 45, ../../sass/modules/card/elements/_card.scss */
  .card__price {
    margin-bottom: 10px;
  }
}
/* line 55, ../../sass/modules/card/elements/_card.scss */
.card__btn {
  padding: 0 15px;
}
@media screen and (min-width: 992px) {
  /* line 55, ../../sass/modules/card/elements/_card.scss */
  .card__btn {
    padding-bottom: 10px;
  }
}
/* line 60, ../../sass/modules/card/elements/_card.scss */
.card__btn .btn {
  width: 49%;
}
/* line 62, ../../sass/modules/card/elements/_card.scss */
.card__btn .btn:first-child {
  float: left;
}
/* line 65, ../../sass/modules/card/elements/_card.scss */
.card__btn .btn:last-child {
  float: right;
}
@media screen and (max-width: 991px) {
  /* line 60, ../../sass/modules/card/elements/_card.scss */
  .card__btn .btn {
    margin: 10px 0;
  }
}

/* line 76, ../../sass/modules/card/elements/_card.scss */
.cards-logo {
  vertical-align: middle;
}

/* line 1, ../../sass/modules/appeal/elements/_appeal.scss */
.appeal {
  background-color: #2d2223;
  padding: 30px 0;
}
/* line 4, ../../sass/modules/appeal/elements/_appeal.scss */
.appeal__text {
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 4, ../../sass/modules/appeal/elements/_appeal.scss */
  .appeal__text {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  /* line 17, ../../sass/modules/appeal/elements/_appeal.scss */
  .hide {
    display: none;
  }
}

/* line 23, ../../sass/modules/appeal/elements/_appeal.scss */
.show {
  display: none;
  background: #2d2223;
  padding: 30px 10px;
  color: #D3D3D3;
}
@media screen and (max-width: 991px) {
  /* line 23, ../../sass/modules/appeal/elements/_appeal.scss */
  .show {
    display: block;
  }
}

/* line 33, ../../sass/modules/appeal/elements/_appeal.scss */
.black {
  color: #000;
}

@media screen and (max-width: 991px) {
  /* line 1, ../../sass/modules/order/elemetns/_order.scss */
  .order {
    display: none;
  }
}
/* line 3, ../../sass/modules/order/elemetns/_order.scss */
.order__title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 26px;
  color: #ffffff;
  margin: 0 0 10px 0;
}
/* line 11, ../../sass/modules/order/elemetns/_order.scss */
.order__sub {
  font-size: 13px;
  color: #D3D3D3;
  font-style: italic;
  text-align: center;
  font-weight: 300;
}
/* line 18, ../../sass/modules/order/elemetns/_order.scss */
.order__form {
  background-color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  padding: 15px;
  margin-bottom: 10px;
}
/* line 26, ../../sass/modules/order/elemetns/_order.scss */
.order__label {
  margin-bottom: 10px;
  display: block;
}
/* line 29, ../../sass/modules/order/elemetns/_order.scss */
.order__label:last-child {
  margin: 0;
}
/* line 32, ../../sass/modules/order/elemetns/_order.scss */
.order__label._btn {
  text-align: center;
}
/* line 36, ../../sass/modules/order/elemetns/_order.scss */
.order__label._captcha img {
  border: 1px solid #D3D3D3;
  vertical-align: bottom;
}
/* line 40, ../../sass/modules/order/elemetns/_order.scss */
.order__label._captcha .captcha_image {
  text-align: right;
}
/* line 43, ../../sass/modules/order/elemetns/_order.scss */
.order__label._captcha a {
  font-size: 12px;
}
/* line 48, ../../sass/modules/order/elemetns/_order.scss */
.order__name {
  display: block;
}
/* line 51, ../../sass/modules/order/elemetns/_order.scss */
.order__name._required:after {
  content: '*';
  color: #c00;
}
/* line 57, ../../sass/modules/order/elemetns/_order.scss */
.order__input {
  display: block;
  width: 100%;
  border: 1px solid #D3D3D3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 5px;
}
/* line 64, ../../sass/modules/order/elemetns/_order.scss */
.order__hint {
  font-size: 12px;
  color: #444444;
}
/* line 69, ../../sass/modules/order/elemetns/_order.scss */
.order__btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #d83526;
  padding: 7px 15px;
  color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlMWEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlMDEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe1a00), color-stop(100%, #ce0100));
  background-image: -moz-linear-gradient(top, #fe1a00, #ce0100);
  background-image: -webkit-linear-gradient(top, #fe1a00, #ce0100);
  background-image: linear-gradient(to bottom, #fe1a00, #ce0100);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  -moz-transition: all ease-out;
  -o-transition: all ease-out;
  -webkit-transition: all ease-out;
  transition: all ease-out;
}
/* line 82, ../../sass/modules/order/elemetns/_order.scss */
.order__btn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlMWEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ExMDEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe1a00), color-stop(100%, #a10100));
  background-image: -moz-linear-gradient(top, #fe1a00, #a10100);
  background-image: -webkit-linear-gradient(top, #fe1a00, #a10100);
  background-image: linear-gradient(to bottom, #fe1a00, #a10100);
}
/* line 86, ../../sass/modules/order/elemetns/_order.scss */
.order .luck_post {
  background-color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  padding: 15px;
}
