.center .slide-3 .block-2 > div.descr {
    color: #fff;
    font-family: Open_Sans_Light;
    font-size: 18px;
    margin: 3% 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
html body{overflow: auto !important;}
html aside.l-column .basket > .wrp .hint{
    visibility: visible;
    display: none;
}
.callback form > div.captcha_image {
    width: 33.7%;
}
.slide-8{
    position: relative;
}
.slide-8 img{
    width: 100%;
}
.slide-8 img + iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
html .alt-menu{right: -67%;overflow: hidden;}
.slick-slide a.active{opacity: 0.5}
.slick-slide a{transition:opacity 0.3s ease 0s}
html .box-modal.custom-1{width: 800px}
.slick-slider.autoplay-for .slick-slide img {
    border: 2px solid #bdb19d;
    display: inline-block;
    width: 99%;
}
html .box-modal.custom-2 {width: 350px;}
.center .basket .block-2 table tbody tr td .cart-item-img .color {
    border: 1px solid #e5dac7;
    height: 59px;
    width: 76px;
}
body .center.colors .slide-9 ul li {
    margin: 0 1.2% 2% 0;
}
.center{position: relative}
.center .preview-slide.contacts{position: absolute;height: 100%;width:100%}
.center .preview-slide.contacts #map{position: absolute;height: 100%;width:100%}
.center .preview-slide.contacts .block-1{background: none repeat scroll 0 0 rgba(250, 237, 216, 0.85); padding: 20px}
