/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "custom.css";
@import "icons.css";

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: Open_Sans;
    src: url(../fonts/Open_Sans.ttf);
}

@font-face {
    font-family: Open_Sans_Bold;
    src: url(../fonts/Open_Sans_Bold.ttf);
}

@font-face {
    font-family: Open_Sans_Light;
    src: url(../fonts/Open_Sans_Light.ttf);
}

@font-face {
    font-family: Open_Sans_Condensed_Light;
    src: url(../fonts/Open_Sans_Condensed_Light.ttf);
}

@font-face {
    font-family: Open_Sans_Condensed_Light_Italic;
    src: url(../fonts/Open_Sans_Condensed_Light_Italic.ttf);
}

@font-face {
    font-family: Open_Sans_Extrabold;
    src: url(../fonts/Open_Sans_Extrabold.ttf);
}

@font-face {
    font-family: Bender;
    src: url(../fonts/Bender.otf);
}

@font-face {
    font-family: Bender_Bold;
    src: url(../fonts/Bender_Bold.otf);
}

@font-face {
    font-family: Bender_Light;
    src: url(../fonts/Bender_Light.otf);
}


/* ==========================================================================
   Others
   ========================================================================== */
a {
    color: #a32139;
}


a:hover {
    text-decoration: none;
}

* {
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: Bender_Light;
    font-size: 36px;
}

h2 {
    font-family: Bender_Light;
    font-size: 30px;
    color: #a03548;
}

h3 {
    font-family: Bender_Light;
    font-size: 24px;
    color: #a03548;
}

h4 {
    font-family: Bender_Light;
    font-size: 48px;
    color: #a03548;
}

h5 {
    font-family: Open_Sans_Light;
    font-size: 20px;
}

input.txt, textarea {
    transition: all 0.3s ease 0s;
}

input.txt:focus, textarea:focus {
    border: 1px solid #9a9185 !important;
}

.necessarily {
    text-transform: uppercase;
    color: red;
}

input.success {
    border: 1px solid #9ec762 !important;
    background: url("../images/success-1.png") #fff no-repeat 98%;
}

textarea.success {
    border: 1px solid #9ec762 !important;
    background: url("../images/success-1.png") #fff no-repeat 98% 3%;
}


input.success:focus, textarea.success:focus {
    border: 1px solid #9ec762 !important;
}

input.error {
    border: 1px solid #ff0000 !important;
    background: url("../images/error-1.png") #fff no-repeat 98%;
}

textarea.error {
    border: 1px solid #ff0000 !important;
    background: url("../images/error-1.png") #fff no-repeat 98% 3%;
}

input.error:focus, textarea.error:focus {
    border: 1px solid #ff0000 !important;
}

span.error {
    color: #ff0000;
    display: block;
    margin: 0 0 0 16%;
    font-family: Open_Sans;
    font-size: 14px;
}

.close {
    background: url("../images/modal-close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    width: 19px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.close:hover {
    transform: rotate(90deg);
}


.adm-nav {
    background: none repeat scroll 0 0 rgba(25, 255, 25, 0.2);
    border-radius: 5px;
    left: 20%;
    padding: 15px;
    position: fixed;
    top: 20%;
    transition: 0.4s;
    z-index: 123;
}

.adm-nav:hover {
    background: none repeat scroll 0 0 rgba(25, 255, 25, 0.7);
}

.adm-nav li {
    list-style: none;
    margin: 0 0 5px 0;
}

.adm-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.c-c-combobraker {

}

input.invalid {
    box-shadow: 0 0 6px rgba(196, 31, 66, 1) inset;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height:100%;
}

body {
    font-family: Open_Sans_Light;
    overflow: scroll !important;
/*    min-width: 1024px;*/
    background: #2D2223;
}

#p404 {
    background: #faedd8;
}

.p404 {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.p404 td {
    vertical-align: middle;
}

header {
    background: none repeat scroll 0 0 #4B3537;
    float: right;
    height: 90px;
    margin: 0 0 0 18%;
    width: 82%;
    z-index: 56;
}

header .block-1 {
    height: 100%;
    width: 16%;
    float: left;
    display: none;
}

header .block-2 {
    height: 100%;
    width: 100%;
}

header .slogan {
    color: #fff;
    float: left;
    font-family: Open_Sans_Light;
    margin: 0 0 0 2.5%;
}

header .slogan > span {
    height: 90px;
    line-height: 100%;
    vertical-align: middle;
    display: table-cell;
}

header .phone {
    color: #fff;
    float: right;
    font-family: Open_Sans_Light;
    position: relative;
    text-align: center;
    margin: 0 1.5% 0 0;
}

header .phone > a {
    border-bottom: 1px dashed white;
    color: #bd354d;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}


header .phone > a:hover {
    color: #fff;
}

header .phone > img {
    left: -35px;
    position: absolute;
    top: 30px;
}

header .custom-1 {
    font-size: 16px;
}

header .custom-2 {
    font-size: 28px;
    position: relative;
}


header .custom-2:before {
    background: url("../images/phone-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 27px;
    left: -15%;
    position: absolute;
    top: 16%;
    width: 27px;
}

aside.l-column .wrapper {
    overflow: hidden;
    height: 90%;
    position: relative;
}

aside.l-column {
    background: #2d2223;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    z-index: 10;
    display: block;
    bottom: 0;
    transition: 1.5s;
}

aside.l-column .wrapper .logo {
    background: url("../images/logo-1.png") no-repeat scroll 45% center rgba(0, 0, 0, 0);
    display: block;
    height: 90px;
    width: 100%;
}

aside.l-column .wrapper .logo-alt {
    background: url("../images/logo-3.png") no-repeat scroll 10% center rgba(0, 0, 0, 0);
    display: block;
    height: 90px;
    width: 100%;
}

aside.l-column .wrapper > ul li {
    width: 100%;
    float: left;
    background: #4b3537;
    margin: 0 0 2px 0;
    transition: all 0.3s ease 0s;
}

aside.l-column .wrapper ul li:hover {
    background: #faedd8;
}

aside.l-column .wrapper > ul li:hover > a {
    color: #000;
}

aside.l-column .wrapper > ul li > a {
    color: #fff;
    text-decoration: none;
    font-family: Open_Sans_Light;
    font-size: 16px;
    padding: 9% 0 9% 33%;
    display: block;
    transition: all 0.3s ease 0s;
}

aside.l-column .wrapper ul .custom-1 {
    background: url("../images/l-menu-1.png") no-repeat scroll 11% center   #4b3537;
}

aside.l-column .wrapper ul .custom-1:hover, aside.l-column .wrapper ul .custom-1.active  {
    background: url("../images/l-menu-4.png") no-repeat scroll 11% center   #faedd8;
}

aside.l-column .wrapper ul .custom-2 {
    background: url("../images/l-menu-2.png") no-repeat scroll 11% center  #4b3537;
}

aside.l-column .wrapper ul .custom-2:hover, aside.l-column .wrapper ul .custom-2.active {
    background: url("../images/l-menu-5.png") no-repeat scroll 11% center #faedd8;
}

aside.l-column .wrapper ul .custom-3 {
    background: url("../images/l-menu-3.png") no-repeat scroll 11% center #4b3537;
}

aside.l-column .wrapper ul .custom-3:hover, aside.l-column ul .wrapper .custom-3.active {
    background: url("../images/l-menu-6.png") no-repeat scroll 11% center #faedd8 ;
}

aside.l-column .wrapper .social {
    height: 20px;
    margin: 0 auto;
    padding: 12% 0 0;
    text-align: center;
    width: 100%;
}

aside.l-column .wrapper .social.custom-1 {
    height: 20px;
    margin: 0;
    padding: 5% 0 0;
    text-align: center;
    width: 33%;

}

aside.l-column .wrapper .social a {
    display: inline-block;
    height: 20px;
    margin: 0 3%;
    width: 25px;
    transition: all 0.3s ease 0s;
}

aside.l-column .wrapper .social.custom-1 a {
    width: 100%;
    background-position: 50% center;
    margin: 12% auto;
    display: block;
}


aside.l-column .wrapper .social a:hover {
    transform: scale(1.4);

}

aside.l-column .wrapper .social .vk {
    background: url("../images/social-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
}

/*aside.l-column .social .vk:hover {
    background: url("../images/social-5.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/

aside.l-column .wrapper .social .fb {
    background: url("../images/social-2.png") no-repeat scroll rgba(0, 0, 0, 0);
    width: 10px;
}

aside.l-column .wrapper .social.custom-1 .fb {
    width: 100%;
}

/*aside.l-column .social .fb:hover {
    background: url("../images/social-6.png") no-repeat scroll rgba(0, 0, 0, 0);
}*/

aside.l-column .wrapper .social .ig {
    background: url("../images/social-3.png") no-repeat;
}

/*aside.l-column .social .ig:hover {
    background: url("../images/social-7.png") no-repeat;
}*/

aside.l-column .wrapper .social .tw {
    background: url("../images/social-4.png") no-repeat;
}

/*
aside.l-column .social .tw:hover {
    background: url("../images/social-8.png") no-repeat;
}
*/

aside.l-column .basket {
    width: 100%;
    background: #4b3537;
    transition: all 0.3s ease 0s;
    position: absolute;
    bottom: 0;
    background: url("../images/basket-1.png") no-repeat scroll 12% center #4b3537;
}

aside.l-column .basket .wrp {
    position: relative;
}

aside.l-column .basket > .wrp > a {
    color: #fff;
    text-decoration: none;
    font-family: Open_Sans_Light;
    font-size: 16px;
    padding: 9% 0 9% 33%;
    display: block;
    transition: all 0.3s ease 0s;
}

aside.l-column .basket > .wrp > a > span {
    font-size: 12px;
    background: #a32139;
    border-radius: 3px;
    padding: 2px 7px;
    margin: 0 0 0 15%;
}

aside.l-column .basket > .wrp .hint {
    background: none repeat scroll 0 0 rgba(180, 74, 89, 0.9);
    border-radius: 3px;
    height: 50px;
    padding: 15px 15px 0;
    position: absolute;
    right: -300px;
    top: -65px;
    width: 283px;
    visibility: hidden;
}

aside.l-column .basket > .wrp .hint .wrp > p {
    color: #fff;
    font-family: Open_Sans_Light;
    font-size: 12px;
    margin: 0;
}


aside.l-column .basket > .wrp .hint .wrp > .close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-family: Open_Sans_Light;
    font-size: 12px;
    position: absolute;
    right: -7px;
    text-decoration: none;
    top: -15px;
    width: auto;
}

aside.l-column .basket > .wrp .hint .wrp > .close:hover {
    transform: none;
}



aside.l-column .basket > .wrp .hint .wrp > .corner {
    border-color: transparent transparent transparent rgba(180, 74, 89, 0.9);
    border-style: solid;
    border-width: 0 0 20px 16px;
    height: 0;
    position: absolute;
    top: 50px;
    width: 0;
}

.center {
    /*margin: 90px 0 0 240px;*/
    margin: 0 0 0 18%;
    width: 82%;
    float: right;
    background: #FAEDD8;
    min-height: calc(100% - 185px);
}

.center .slide-1 {
    position: relative;
    width: 100%;
}

.center .slide-1 > img {
    width: 100%;
}

.center .slide-2 {
    background: #faedd8;
    min-height: 470px;
}

.center .slide-2 img {
    float: left;
    margin: 5% 0 5% 6%;
    width: 26%;
}

.center .slide-2 .block-1 {
    float: right;
    margin: 2% 8% 0 0;
    width: 48%;
}

.center .slide-2 .block-1 h2 {
    text-align: center;
}

.center .slide-2 .block-1 p {
    font-family: Open_Sans_Light;
    font-size: 14px;
    line-height: 1.6;
}

.center .slide-3 .block-1 {
    background: #a32139;
    text-align: center;
    width: 100%;
}

.center .slide-3 .block-1 h1, .center .slide-5 .block-1 h1, .center .slide-6 h1 {
    margin: 4% 0;
}

.center .slide-3 .block-2 {
    position: relative;
}

.center .slide-3 .block-2 > img {
    width: 100%;
}

.center .slide-3 .block-2 > p {
    color: #fff;
    font-family: Open_Sans_Light;
    font-size: 18px;
    margin: 46px 0;
    position: absolute;
    right: 25%;
    text-align: center;
    top: 0;
}

.center .slide-3 .block-2 > .callback {
    float: right;
    margin: 0 9% 0 0;
    position: absolute;
    right: 0;
    top: 33%;
    width: 32%;
}

.callback form > div {
    border: 1px solid #fff;
    float: left;
    height: 37px;
    width: 10.4%;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.callback form input[type="text"], .callback form input[type="file"]{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #a2a2a2;
    float: left;
    height: 37px;
    margin: 0 0 3%;
    padding: 0 3%;
    width: 87.5%;
    transition: 0.3s;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

body .callback form > div.captcha_image {
    width: 33.7%;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.callback form input[type="text"]:before {
    background: url("../images/slide-3-2.png") no-repeat scroll 50% center rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 37px;
    width: 12%;
    content: "";
}

.callback form input[type="text"]:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.33) inset;
}

.callback form > .custom-1 {
    background: url("../images/slide-3-2.png") rgba(255,255,255,0.3) no-repeat 50%;
    box-sizing: border-box;
}

.callback form > .custom-2 {
    background: url("../images/slide-3-4.png") rgba(255,255,255,0.3) no-repeat 50%;
    box-sizing: border-box;
}

.callback form > .custom-3 {
    background: url("../images/slide-3-3.png") rgba(255,255,255,0.3) no-repeat 50%;
    box-sizing: border-box;
}

.callback form input[type="submit"] {
    border: medium none;
    border-radius: 2px;
    color: #fff;
    float: left;
    height: 37px;
    margin: 0 0 14px;
    width: 98%;
}

.center .slide-4 {
    background: #faedd8;
    width: 100%;
}

.center .slide-4 ul li > img {
    float: left;
    margin: 0 3.5% 0 0;
    width: 20%;
}

.center .slide-4 ul li .date {
    color: #898989;
    font-family: Open_Sans;
    font-size: 14px;
    display: block;
    margin: 0 0 3%;
}

.center .slide-4 ul li {
    margin: 0 auto 2%;
    list-style: none;
    width: 80%;
}

.center .slide-4 ul li h3 {
    margin: 2% 0;
}

.center .slide-4 .description {
    width: 75%;
    float: left;
}

.center .slide-4 .description p {
    font-family: Open_Sans_Light;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}

.center .slide-4 .description a {
    color: #a32139;
    margin: 0 0 0 5px;
}

.center .slide-5 .block-1 {
    background: #70c3a5;
    text-align: center;
    width: 100%;
}

.center .slide-5 .block-2 a {
    display: block;
}

.center .slide-5 .block-2 a:hover .hover, body ul.comments_photo li a:hover .hover {
    bottom: 0;
    height: 100%;
    width: 100%;
}

body ul.comments_photo li a {
    display: block;
    position: relative;
}


.center .slide-5 ul li {
    float: left;
    list-style: none;
    width: 25%;
    position: relative;
}

.center .slide-5 .hover, .reviews .hover {
    position: absolute;
    height: 0;
    width: 0;
    background: url("../images/zoom-1.png")rgba(168,64,82,0.8) no-repeat 50%;
    cursor: pointer;
    transition: 0.1s;
    bottom: 20px;
}

.center .slide-5 .box {
    padding: 20px;
}

.center .slide-5 .box > p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.center .slide-5 .box > .custom-1 {
    font-size: 16px;
    margin: 0 0 10px;
}

.center .slide-5 ul {
    overflow: hidden;
}

.center .slide-5 .block-2 {

}

.center .slide-5 .block-2 img {
    width: 100%;
}



.center .slide-6 {
    background: #faedd8;
    text-align: center;
    width: 100%;
}

a.custom-13, a.custom-14 {
    color: #000;
    text-decoration: none;
    display: block;
    font-family: Open_Sans_Light;
    font-size: 30px;
    height: 45px;
    line-height: 42px;
    margin: 0 auto 56px;
    cursor: pointer;
}

a.custom-13:before {
    content: "";
    background: url("../images/slide-6.png") no-repeat scroll rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: text-top;
    width: 45px;
    height: 45px;
    margin: 0 15px 0 0;
}

a.custom-14:before {
    content: "";
    background: url("../images/slide-6-1.png") no-repeat scroll rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: text-top;
    width: 45px;
    height: 45px;
    margin: 0 15px 0 0;
}

a.custom-13:hover, a.custom-14:hover {
    color: #a03548;
}

a.custom-13:hover:before {
    background: url("../images/slide-6.png") no-repeat scroll 0 -45px rgba(0, 0, 0, 0);
    display: inline-block;
    content: "";
    vertical-align: text-top;
    width: 45px;
    height: 45px;
    margin: 0 15px 0 0;
}

a.custom-14:hover:before {
    background: url("../images/slide-6-1.png") no-repeat scroll 0 -45px rgba(0, 0, 0, 0);
    display: inline-block;
    content: "";
    vertical-align: text-top;
    width: 45px;
    height: 45px;
    margin: 0 15px 0 0;
}

.center .preview-slide {
    position: relative;
    overflow: hidden;
}

.center .preview-slide.custom-1 > img {
    margin: 0;
}

.center .preview-slide > img {
    width: 100%;
}

.center .preview-slide > .block-1 {
    left: 5%;
    position: absolute;
    top: 5%;
    width: 33%;
}

.center .preview-slide.custom-1 .breadcrumbs {
    width: 140%;
}



.center .preview-slide.custom-1 > .block-1 h4 {
    margin: 0 0 20px;
}


.center .preview-slide > .block-1.custom-2 {
    width: 38%;
}

.center .preview-slide > .block-1 > p {
    font-family: Open_Sans_Light;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}

.center .preview-slide > .block-1 h4 {
    margin: 0 0 40px;
}

.center .catalog-1 {
    background: #faedd8;
}

.center .catalog-1 .wrp > ul {
    text-align: center;
}

.center .catalog-1 .wrp {
    width: 90%;
    margin: 0 auto;
}

.center .catalog-1 .wrp > h2 {
    text-align: center;
}

.center .catalog-1 .wrp ul li {
    list-style: none;
    width: 220px;
    border: 3px solid #c7beb1;
    border-radius: 5px;
    margin: 0 14px 50px;
    display: inline-block;
    vertical-align: top ;
}

.center .catalog-1 .wrp ul li .block-1 {
    padding: 15px;
}

.center .catalog-1 .wrp ul li .block-1 > h3 {
    margin: 0;
}

.center .catalog-1 .wrp ul li .block-1 > p {
    font-family: Open_Sans_Light;
    color: #786a7a;
    font-size: 14px;
}

.center .catalog-1 .wrp ul li .block-1 img {
    border: 1px solid #c7beb1;
}

.center .catalog-1 .wrp ul li .block-1 > .price {
    text-align: center;
    font-size: 24px;
    font-family: Open_Sans_Light;
    margin: 13px 0;
    color: #a03548;
}

.buttons > a, .buttons > input {
    text-decoration: none;
    text-align: center;
    width: 90px;
    display: block;
    float: left;
    font-size: 13px;
    font-family: Open_Sans_Light;
    padding: 5px 0;
    border-radius: 3px;
    border: none;
}

.darkred {
    background: #2d2223;
    color: #fff;
    margin: 0 6px 0 0;
    transition: all 0.3s ease 0s;
}

.buttons > a.darkred {
    width: 100%;
}

.darkred:hover {
    background: #a32139;
}

.gray {
    background: #c7beb1;
    color: #000;
    margin: 0 6px 0 0;
    transition: all 0.3s ease 0s;
}

.gray:hover {
    background: #e8dccc;
}

.black {
    background: #2d2223;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.black:hover {
    background: #812838;
}

.button-1 {
    background: none repeat scroll 0 0 #a32139;
    border-radius: 2px;
    border: none;
    color: #fff;
    display: block;
    font-family: Open_Sans;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 6px 0;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.button-1:hover {
    background: none repeat scroll 0 0 #db1a43;
}

a.order {
    background: none repeat scroll 0 0 #EFE8DE;
    transition: all 0.3s ease 0s;
}
a.order:hover {
    background: none repeat scroll 0 0 #dbd4ca;
}

.button-order {
    background: none repeat scroll 0 0 #EFE8DE;
    border-radius: 2px;
    border: none;
    color: #000000;
    font-family: Open_Sans;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 6px 0;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    display: inline-block;
    width: 90%;
    transition: all 0.3s ease 0s;
}

.button-order:hover {
    background: none repeat scroll 0 0 #dbd4ca;
}

.center .catalog-1 .wrp.clearfix > .button-1 {
    margin: 0 auto 55px;
    padding: 9px 0 9px 0;
    position: relative;
    width: 186px;
}

/*.center .catalog-1 .wrp.clearfix > .button-1:after {
    border-color: transparent transparent transparent #a32139;
    border-style: solid;
    border-width: 21px 0 21px 20px;
    content: "";
    height: 0;
    position: absolute;
    right: -19px;
    top: -1px;
    width: 0;
}

.center .catalog-1 .wrp.clearfix > .button-1:hover:after {
    border-color: transparent transparent transparent #db1a43;
}*/

.center .slide-8 {
    min-height: 523px;
}

.center .how-we-work {
    background: #faedd8;
    padding: 0 0 50px;
    transition: 0.2s;
}

.center .how-we-work .wrp {
    margin: 0 auto;
    width: 95%;
}

.center .how-we-work h1 {
    color: #a03548;
    margin: 0;
    padding: 45px 0;
    text-align: center;
}

.center .how-we-work ul li {
    float: left;
    list-style: none outside none;
    margin: 0 2% 0 0;
    text-align: center;
    width: 18%;
}

.center .how-we-work ul li img {
    text-align: center;
    width: 43%;
}

.center .how-we-work ul li .custom-1 {
     font-family: Open_Sans_Light;
     font-size: 20px;
}

.center .how-we-work ul li .custom-2 {
    font-family: Open_Sans_Light;
    font-size: 14px;
    margin: 0;
}

.center .how-we-work ul li.custom-3 {
    margin: 50px 2% 0 0;
}


.center .how-we-work ul li.custom-4 {
    margin: 14px 2% 0 0;
}

.center .how-we-work ul li p {
    text-align: left;
}

.center .reviews .block-1 {
    background: #a32139;
    height: 140px;
    text-align: center;
    width: 100%;
}

.center .reviews .block-1 h1 {
    margin: 45px 0;
}

.center .reviews .block-2 {
    background: #faedd8;
}

.center .reviews .block-2 ul {
    margin: 0 0 56px 0;
}

.center .reviews .block-2 ul li {
    margin: 20px 0;
}

.center .reviews .block-2 ul li img {
    float: left;
    margin: 0 36px 0 0;
    width: 20%;
}

.center .reviews .block-2 ul li .block-3 {
    float: left;
    font-family: Open_Sans_Light;
    font-size: 14px;
    width: 75%;
}

.center .reviews .block-2 ul li .block-3 p {
    line-height: 1.5;
    margin: 0;
}

.center .reviews .block-2 ul li .block-3 h3 {
    font-family: Open_Sans_Light;
    margin: 0 0 18px;
}

.center .reviews .block-2 ul li .block-3 .custom-1 {
    margin: 0 0 1%;
}

.center .catalog-2 {
    background: #faedd8;
}

.center .catalog-2 .wrp {
    width: 90%;
    margin: 0 auto;
}

.center .catalog-2 .wrp > ul {
    margin: 0 auto;
    width: 63%;
}

.center .catalog-2 .wrp > h1, .center .catalog-1 .wrp > h1, .center .catalog-2 > h1, .center .catalog-1 > h1 {
    text-align: center;
    color: #a03548;
}

.center .catalog-2 .wrp > ul > li {
    float: left;
    list-style: none outside none;
    margin: 0 0 50px 0;
    width: 100%;
}

.center .catalog-2 .wrp ul li .block-1 > p {
    margin: 0;
}

.center .catalog-2 .wrp ul li .block-1 .custom-1 {
    float: left;
    width: 75%;
    color: #786a7a;
}

.center .catalog-2 .wrp ul li .block-1 .custom-2 {
    float: right;
    line-height: 17px;
}

.center .catalog-2 .wrp ul li .block-1 .custom-2 > span {
    color: #a03548;
    font-size: 24px;
    font-family: Open_Sans;
}

.center .catalog-2 .wrp ul li > .block-2 {
    margin: 30px 0;
}

.center .catalog-2 .wrp ul li > .block-2 > img {
    border: 1px solid #c1b5a1;
}

.center .catalog-2 .wrp ul li > .block-2 .custom-1 {
    width: 16%;
}

.center .catalog-2 .wrp ul li > .block-2 .custom-2 {
    width: 82%;
}

.center .catalog-2 .wrp ul li .block-2 img:last-child {
    float: right;
}

.center .catalog-2 .wrp ul li .block-3 {
    float: left;
}

.center .catalog-2 .wrp ul li .block-3 > .custom-6 {
    margin: 0 5px 0 0;
}

.select {
    z-index: 2 !important;
}

.box-modal .selectbox {
    vertical-align: middle;
}

.box-modal .block-3 span.custom-6 {
    margin: 0 5px 0 0;
}

.selectbox .text {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #bdb19d;
    border-bottom: 1px solid #bdb19d;
    border-left: 1px solid #bdb19d;
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    padding: 0 14px;
    vertical-align: top;

}

.selectbox .trigger {
    background: url("../images/selectbox-1.png") no-repeat scroll 50% center #a10f43;
    border: 1px solid #79002b;
    box-sizing: border-box;
    display: inline-block;
    height: 25px;
    vertical-align: top;
    width: 28px;
    cursor: pointer;
}

.selectbox .dropdown {
    top: 100%
}

.selectbox .dropdown li {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #bdb19d;
    border-right: 1px solid #bdb19d;
    border-bottom: 1px solid #bdb19d;
    cursor: pointer;
    display: inline-block;
    padding: 0 14px;
    transition: 0.2s;
}

.selectbox .dropdown li:before {
    background: none;
    display: none;
}

.selectbox .dropdown li:hover {
    background: #f4f4f4;
}

.selectbox .dropdown li:first-child {
    border-top: 1px solid #bdb19d;
}

.center .catalog-2 .wrp ul li .block-3 > span {
    display: inline-block;
    vertical-align: top;
}

.center .catalog-2 .wrp ul li .block-3 .selectbox {
    margin: 0 5px 0 0;
}



.spinner-wrp {
    display: inline-block;
}

.spinner-wrp input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bdb19d;
    display: inline-block;
    padding: 2px 0;
    text-align: center;
    vertical-align: top;
    width: 40px;
}

.spinner-wrp a {
    color: #a10f43;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin: 0 5px;
    text-decoration: none;
}

.center .catalog-2 .wrp ul li .block-4.buttons {
    float: right;
}


/* ==========================================================================
   Basket
   ========================================================================== */

.center .basket {
    background: #faedd8;
    padding: 56px 62px;
}

.center .breadcrumbs a {
   text-decoration: underline;
   color: #a32139;
   transition: 0.4s;
   font-weight: bold;
}

.center .breadcrumbs span {
    font-weight: bold;
}

.center .breadcrumbs a:hover {
   color: #ff2c57;
}

.center .breadcrumbs .custom-1 {

}


.center .breadcrumbs.custom-1 span,  .center .breadcrumbs.custom-1 span a {
    color: #fff;
}

.center .breadcrumbs .custom-1:after {
    content: "/";
    margin: 0 6px;
    text-decoration: none;
}

.center .basket > h1 {
    color: #a32139;
}

.center .basket .block-2 {
    margin: 0 0 45px 0;
}


.center .basket .block-2 table thead tr th {
    color: #fff;
    background: #a32139;
    border-right: 1px solid #fff;
    padding: 10px 15px;
}

.center .basket .block-2 table thead tr th:first-child {
    border-left: 1px solid #a32139;
}

.center .basket .block-2 table thead tr th:last-child {
    border-right: 1px solid #a32139;
}

.del {
    background: url("../images/modal-close.png") no-repeat;
    width: 19px;
    height: 19px;
    display: block;
    transition: all 0.3s ease 0s;
}

.center .basket .block-2 table tbody tr td:first-child {
    text-align: left;
}


.center .basket .block-2 table.table_apiece tbody tr td:first-child {
    text-align: center;
}

.center .basket .block-2 table tbody tr td {
    padding: 13px 20px;
    border: 1px solid #e5dac7;
    text-align: center;
}

.center .basket .block-2 table tbody tr td:first-child {
    width: 57%;
}

.center .basket .block-2 table tbody tr td .cart-item-img {
    float: left;
    margin: 0 25px 0 0;
}

.center .basket .block-2 table tbody tr td .block-1 {
    float: left;
    width: 71%;
}

.center .basket .block-2 table tbody tr td .cart-item-link {
    color: #000;
    text-decoration: none;
}

.center .basket .block-2 table tbody tr td p {
    color: #837f80;
    margin: 5px 0;
}

.center .basket .block-2 table tbody tr td .cart-item-img img {
    max-width: 76px;
    max-height: 59px;
    border: 1px solid #e5dac7;
}


.center .basket .block-2 table tfoot tr {
    border: 1px solid #e5dac7;
}

.center .basket .block-2 table tfoot tr td:last-child {
    text-align: right;
}

.center .basket .block-2 table tfoot tr td:last-child p {
    font-family: Open_Sans_Bold;
    margin: 15px 24px 15px 0;
}

.center .basket .block-2 table tfoot tr td:last-child p > span {
    color: #a03548;
    font-size: 36px;
}

.center .basket .button-1 {
    width: 321px;
}



/* ==========================================================================
   Basket-2
   ========================================================================== */

.center .basket-2 {

}

.center .basket-2 .block-3 {
    width: 100%;
}

.center .basket-2 .block-3 .row {

}

.center .basket-2 .block-3 .row label {
    display: inline-block;
    width: 15%;
    font-size: 14px;
    font-family: Open_Sans;
}

.center .basket-2 .block-3 .row input, .center .basket-2 .block-3 .row textarea, .personal-information input[type="text"],
.personal-information textarea {
    border: 1px solid #e4d9c6;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px 20px;
    width: 45%;
    vertical-align: middle;
    resize: none;
    height: 16px;
}

.center .basket-2 .block-4  {
    margin: 0 0 30px 0;
}

.center .basket-2 .block-4 > .buttons {
    margin: 30px 0 0 0;
}

.center .basket-2 .block-4 .row > label {
    font-family: Open_Sans;
    margin: 0 0 10px 0;
}

.basket-2 .buttons > a {
    border-radius: 3px;
    display: block;
    float: left;
    font-family: Open_Sans_Light;
    font-size: 16px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

.basket-2 .buttons .button-1 {
    margin: 0 10px 0 0;
}

.basket-2 .block-4 .buttons .button-1 {
    margin: 0 10px 0 0;
    float: left;
    border: none;
    padding: 7px 0;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content {
     min-height: 500px;
     background: #faedd8;
     padding: 0 60px;
     font-size: 14px;
     font-family: "Open_Sans_Light";
     z-index: 20;
}

.content h4, .content h1, .content h3 {
    margin: 20px 0;
    color: #a03548;
}

.content h3 {
    font-size: 24px;
    font-family: Open_Sans_Light;
}


.black-txt {
    background: none repeat scroll 0 0 rgba(101, 60, 66, 0.75);
    color: #fff;
    padding: 5px 20px;
}


.content table {
    font: 24px "Open_Sans_Light";
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
}

.content table thead {

}

.content table tr th {
    font-weight: normal;
}


.content table tr th.hover {
    background: #a32139;
    color: #fff;
}

.content table tr td, .content table tr th {
    width: 33%;
    height: 52px;
    transition: 0.35s;
}


.content table thead tr th {
    border: 1px solid #a32139;
}

.content table tbody tr td {
    border: 1px solid #e4d9c6;
}

.content table tbody tr td:hover {
    background: #ece0cc;
}

.content ul li {
    list-style: none;
}

.content ul li:before {
    color: #a32139;
    content: "•";
    font: 24px "SegoeUI";
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.content ol {
    list-style: none;
    counter-reset: li;
}

.content ol li:before {
    color: #fff;
    content: counter(li, decimal) ".";
    counter-increment: li;
    color: #a32139;
    margin: 0 10px 0 0;
    font: 18px "Open_Sans_Light";
}



.quote {
    margin: -55px 0 0;
    position: relative;
    width: 49%;
    z-index: 3;
}

.quote .author {
    background: #a32139;
    border-left: 1px solid #a32139;
    border-right: 1px solid #a32139;
    border-top: 1px solid #a32139;
    color: #fff;
    padding: 0 32px;
}

.quote .author h1 {
    color: #fff;
}

.quote .txt {
    background: #faedd8;
    padding: 0 32px;
    border: 1px solid #e4d9c6;
}

.quote .txt > p {
    font-size: 14px;
    line-height: 1;
}

.quote .txt > p:before {
    content: "“";
    color: #c5b6b7;
    font-family: "Trebuchet MS";
    font-size: 24px;
    margin: 0 0 0 -14px;
}

.quote .txt > p:after {
    content: "„";
    color: #c5b6b7;
    font-family: "Trebuchet MS";
    font-size: 24px;
}

.grid-3 > div {
    display: inline-block;
    margin: 0 1% 0 0;
    vertical-align: top;
    width: 32%;
}

.grid-3 > div:last-child {
    margin: 0;
}






/* ==========================================================================
   Colors
   ========================================================================== */



.center.colors .slide-9 {
    padding: 0 8%;
    background: #faedd8;
}

.center.colors .slide-9 > h1 {
    text-align: center;
    color: #a03548;
}

.center.colors .slide-9 ul li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 1.5% 2% 0;
    width: 14.4%;
}

.center.colors .slide-9 ul li.last {
    margin: 0;
}

.center.colors .slide-9 ul .box li > p {
    margin: 0;
}

.center.colors .slide-9 ul .box  li> p.custom-4 {
    color: #a03548;
}

.center.colors .slide-9 ul .box li > p.custom-5 {
    color: #837f80;
    margin: 2px 0;
}

.center.colors .slide-9 ul li > a {
    background: url("../images/colors-1.png") 50% no-repeat rgba(255,255,255,0.5);
    width: 100%;
    height: 61px;
    display: block;
}

.center.colors .slide-9 ul li > a.color-2 {
    background: url("../images/colors-2.png") 50% no-repeat;
}

.center.colors .slide-9 .amount > .block-1, .center.colors .slide-9 .amount > .block-2 {
    margin: 0 0 40px 0;
}

.center.colors .slide-9 .block-1 .amount {
    font-size: 24px;
}

.center.colors .slide-9 .amount .block-1 > .custom-1 {
    float: left;
    font-family: Open_Sans_Light;
}

.center.colors .slide-9 .amount .block-1 .custom-2 {
    float: right;
    font-family: Open_Sans_Bold;
}

.center.colors .slide-9 .amount .block-1 .custom-2 > span {
    color: #a03548;
}

.center.colors .slide-9 .amount .block-2 .color {
    display: inline-block;
    width: 60px;
    height: 21px;
}

.center.colors .slide-9 .amount .block-2 .color.custom-1 {
    background: #0ff;
}

.center.colors .slide-9 .amount .block-2 .row {
    margin: 0 0 15px 0;
}


.center.colors .slide-9 .amount .block-2 .row > p {
    font-size: 14px;
    font-family: Open_Sans_Light;
    color: #837f80;
    margin: 0;
}

.center.colors .slide-9 .amount .block-2 .row > .custom-9 {
    width: 25%;
    display: inline-block;
    height: 1px;
    background: url("../images/color-bg-1.png") repeat-x;
    margin: 0 0 0 10px
}


.center.colors .slide-9 .amount .block-2 .row > .spinner-wrp input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bdb19d;
    display: inline-block;
    height: 19px;
    padding: 2px 0;
    text-align: center;
    vertical-align: top;
    width: 40px;
}

.center.colors .slide-9 .amount .block-2 .row > .spinner-wrp {
    display: inline-block;
    margin: 0 0 4px;
    vertical-align: bottom;
}

.center.colors .slide-9 .amount .block-2 .row .close {
    margin: 0 0 0 5px;
}

.center.colors .slide-9 .amount .block-2 > .button-1 {
    width: 30%;
}





/* ==========================================================================
 Filter
 ========================================================================== */

.filter {
    margin: 0 0 3% 0;
}

.filter > div {
    width: 48%;
}

.filter > div.block-1 {
    float: left;
}

.filter > div.block-2 {
    float: right;
    text-align: right;
}

.filter > div > span.custom-6 {
    margin: 0 7% 0 0;
    font-weight: bold;
}

.filter input[type="radio"], .filter input[type="checkbox"] {
    display: none;
}

.filter div label span {
    cursor: pointer;
    margin: 0 5% 0 0;
}

.table_apiece div label input:checked + span {
    text-decoration: underline;
    color: #fff !important;
}

.table_apiece div label.asc span:before{
    width: 0 !important;
}

.filter div label input:checked + span {
    color: #a32139;
}

.filter div label span:before {
    margin: 0 2% 0 0;

    display: inline-block;
    cursor: pointer;
    content: "";
}

.filter div label.popular span:before {
    background: url("../images/filter-1.png") no-repeat;
    height: 12px;
    width: 14px;
}

.filter div label.popular input:checked + span:before {
    background: url("../images/filter-1.png") no-repeat scroll 0 -12px rgba(0, 0, 0, 0);
}

.filter div label.novelty span:before {
    background: url("../images/filter-2.png") no-repeat;
    height: 14px;
    width: 15px;
}

.filter div label.novelty input:checked + span:before {
    background: url("../images/filter-2.png") no-repeat scroll 0 -14px rgba(0, 0, 0, 0);
}

.filter div label.desc span:before {
    background: url("../images/filter-3.png") no-repeat;
    height: 7px;
    width: 11px;
}

.filter div label.desc input:checked + span:before {
    background: url("../images/filter-3.png") no-repeat scroll 0 -7px rgba(0, 0, 0, 0);
}

.filter div label.asc span:before {
    background: url("../images/filter-4.png") no-repeat;
    height: 7px;
    width: 11px;
    vertical-align: middle;
}



.filter div label.asc input:checked + span:before {
    background: url("../images/filter-4.png") no-repeat scroll 0 -7px rgba(0, 0, 0, 0);
}






/* ==========================================================================
   Footer
   ========================================================================== */


footer {
    background: none repeat scroll 0 0 #a32139;
    bottom: 0;
    height: 95px;
    position: relative;
    float: right;
    width: 82%;
}

footer p {
    color: #fff;
    font-family: Open_Sans;
    font-size: 12px;
    line-height: 1.7;
    margin: 0;
}

footer .block-1 {
    padding: 10px 0 0 20px;
    float: left;
}

footer .block-2 {
    float: right;
    padding: 10px 20px 0 0;
}

footer .block-2 p {
    margin: 30px 0 0 0;
    text-align: right;
}

footer .block-2 a {
    color: #000;
    font-weight: bold;
}

footer .block-2 a:hover {
    color: orange;
}

footer .block-3 {
    position: absolute;
    left: 45%;
    top: 15px;
    text-align: center;
}

footer .block-3 p > a {
    color: #fff;
}

footer .block-3  > a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dashed #000;
    transition: 0.2s;
}

footer .block-3  > a:hover {
    color: #fff;
    border-bottom: 1px dashed #fff;
}



/* ==========================================================================
   Alt menu
   ========================================================================== */

.alt-menu {
    background: none repeat scroll 0 0 #faedd8;
    height: 100%;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 67%;
}

.alt-menu .wrp {
    padding: 17% 0 0 10%;
}

.alt-menu .wrp > span {
    font-family: Open_Sans_Light;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 10% 0 0;
}

.alt-menu .wrp ul li {
    list-style: none;
    font: 12px "Open_Sans_Light";
}

.alt-menu .wrp ul li:before {
    background: url("../images/alt-menu-1.png") no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin: 0 2% 0 0;
}

.alt-menu .wrp ul li a {
    color: #a32139;
    text-decoration: none;
}

.alt-menu .wrp ul li p {
    color: #837f80;
    margin: 3% 0;
}








/* ==========================================================================
   Modals
   ========================================================================== */

.box-modal {
    background: none repeat scroll 0 0 rgba(236,224,204,0.8);
    border: 1px solid #e4d9c6;
    margin: 0 auto;
    padding: 62px 50px 0;
    position: relative;
}

.box-modal.custom-1 {
    width: 62%;
}

.box-modal .box-modal_close {
    background: url("../images/modal-close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 19px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.box-modal .box-modal_close:hover, .del:hover {
    transform: rotate(90deg);
}

.box-modal.custom-1 .wrp > .block-1 {
    float: left;
    width: 52%;
}

.box-modal.custom-1 .wrp > .block-1 > h2 {
    margin: 0;
}

.box-modal.custom-1 .wrp > .block-1 > p {
    font-family: Open_Sans_Light;
    color: #786a7a;
}

.box-modal.custom-1 .wrp > .block-0 {
    float: left;
    margin: 0 4% 0 0;
    width: 44%;
}

.box-modal.custom-1 .wrp .block-0 > img {
    border: 1px solid #bdb19d;
    width: 100%;
}

.box-modal.custom-1 .wrp > .block-1 > ul li {
   list-style: none;
    font-size: 14px;
    color: #565656;
}

.box-modal ul li {
    list-style: none;
}

.box-modal ul li:before {
    background: none repeat scroll 0 0 #a32139;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 6px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    width: 6px;
}

.box-modal.custom-1 .wrp > .block-0 > .wrp {
    margin: 24px auto 0;
    width: 82%;
}

.box-modal.custom-1 .wrp button {
    width: 15px;
    height: 15px;
}

.box-modal.custom-1 .wrp > .block-0 .slick-prev {
    background: url("../images/slick-2.png") no-repeat;

}

.box-modal.custom-1 .wrp > .block-0 .slick-prev:hover {
    background: url("../images/slick-1-1.png") no-repeat;
}

.box-modal.custom-1 .wrp > .block-0 .slick-next {
    background: url("../images/slick-1.png") no-repeat;
}

.box-modal.custom-1 .wrp > .block-0 .slick-next:hover {
    background: url("../images/slick-2-1.png") no-repeat;
}


.box-modal.custom-1 .wrp > .block-1 .price {
    text-align: right;
}

.box-modal.custom-1 .wrp > .block-1 .price > p {
    font-family: Open_Sans_Light;
    font-size: 24px;
    color: #473637;
    display: inline-block;
}

.box-modal.custom-1 .wrp > .block-1 .price > span {
    font-family: Open_Sans_Bold;
    font-size: 36px;
    color: #a32139;
    margin: 0 0 0 5px;
}


.box-modal.custom-1 .wrp > .block-1 .price .button-1 {
    width: 90%;
    display: inline-block;
}

.box-modal.custom-1 > .custom-3 {
    text-align: center;
    font-family: Open_Sans_Light;
    font-size: 14px;
}

.box-modal.custom-2 {
    width: 40%;
    padding: 30px 50px 20px;
}

.callback > h5 {
    margin: 0 0 20px 0;
    color: #a32139;
    text-align: center;
}



/* ==========================================================================
   Checkbox
   ========================================================================== */


input[type=radio].css-checkbox {
    display:none;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left:19px;
    height:14px;
    display:inline-block;
    line-height:14px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:14px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -14px;
}
label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_fd1dd9157602a5be8c3f5e11b62f0c63.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* photo in reviews */

body .item-img.ful {
    margin: 10px 0;
}

body .file-uploader-block {
    display: inline-block;
}

body .item-img.ful > div {
    display: inline-block;
}

body .delete-img {
    margin: 0 0 0 10px;
    color: red;
    cursor: pointer;
}

body ul.comments_photo {
    margin: 10px 0 0 0;
}

body ul.comments_photo li {
    margin: 0 10px 10px 0 !important;
    padding: 0;
    display: inline-block;
    float: none;
}


body .center div.reviews ul.comments_photo li img {
    float: none !important;
    width: auto !important;
    margin: 0;
}

body .center div.reviews ul.comments_photo {
    margin: 10px 0 0 0;
}

/* ==========================================================================
 REVIEWS
 ========================================================================== */

.personal-information {
    margin: 0 0 5% 9%;
}

.personal-information .custom-9 {
    display: inline-block;
    font-size: 14px;
    width: 14%;
}

.personal-information .custom-10 {
    font: 20px "Open_Sans_Light";
}

body .personal-information textarea {
    min-height: 150px;
    vertical-align: top;

}

body .personal-information .row .button-1 {
    display: inline-block;
    margin: 20px 0 0;
    width: 33%;
}

body .personal-information .box {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

body .personal-information .box a {
    display: inline-block;
    width: 33px;
    height: 32px;
    transition: 0.2s;
    margin: 0 1% 0 0;
    border-radius: 11px;
    border: 3px solid rgba(0,0,0,0);
}

body .personal-information .box a:hover {
    border: 3px outset #fff;
}

body .personal-information .box .vk-1 {
    background: url("../images/vk-1.png") no-repeat;
}

body .personal-information .box .fb-1 {
    background: url("../images/fb-1.png") no-repeat;
}

body .personal-information .box .tw-1 {
    background: url("../images/tw-1.png") no-repeat;
}

body .personal-information .box .od-1 {
    background: url("../images/od-1.png") no-repeat;
}

body .dychoose.onestep .row:last-child {
    margin: 8px 0 0 0;
}

.callback a#captcha_reset, #captcha_reset {
    display: block;
    height: 35px;
    width: 36px;
    background: url("../images/update-1.png") no-repeat scroll 50% center rgba(255, 255, 255, 0.3);
}

.callback .file_text {
    font-size: 14px;
    text-align: center;
}


.callback .wrp.custom-5 form > .custom-2 {
    background: url("../images/name-icon.png") no-repeat scroll 41% center rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.callback .wrp.custom-5 form > .custom-3 {
    background: url("../images/download-icon.png") no-repeat scroll 50% center / 100% auto rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}


/* ==========================================================================
   MENU TRIGGER
   ========================================================================== */

table td.preloader {
}

.menu-trigger {
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Other
   ========================================================================== */

footer .block-2 nav ul li {
    display: inline-block;
}

footer .block-2 nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 3px 0 0;
}

footer .block-2 nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
}


.callback form .captcha_code.required {
    width: 54%;
}

.captcha_image > img {
    border: 1px solid;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    width: 100%;
}

.descr > p {
    margin: 0;
}



#russian-post {
    color: #9c9c9c;
}

.callback .wrp.custom-5 {

}

.callback .wrp.custom-5 .button-1 {
    margin: 0;
}

.callback .wrp.custom-6 {
    background: none repeat scroll 0 0 rgba(226, 208, 188, 0.9);
    padding: 25px 0 35px;
    text-align: center;
}

.callback .custom-6 h3 {
    margin: 0;
}

.callback .custom-6 p {
    margin: 10px 0 0 0;
}

.result-successful, .result-error {
    padding: 0 2.5%;
}


.personal-information .row.captcha #captcha_img {
    box-sizing: border-box;
    height: 33px;
    border: 1px solid #e4d9c6;
    margin: 0 0 0 0.5%;
}

.personal-information .row.captcha #captcha_reset {
    display: inline-block;
}

.personal-information .row.captcha input {
    width: 30.5%;
}

.personal-information .row.captcha #captcha_reset {
    background: url("../images/update-1.png") no-repeat scroll 50% center rgba(255, 255, 255, 0);
    vertical-align: middle;
    cursor: pointer;
}

body .label-search span:before {
    margin: 0 !important;
}

body .center .basket .block-2 table.table_apiece tbody tr td .cart-item-img {
    margin: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

body .center .object-only .block-2  table.table_apiece tbody tr td .cart-item-img {
    margin: 0;
}


body .center .block-2  table.table_apiece tbody tr td a {
    cursor: default !important;
}

.center .basket .block-2 table.table_apiece tbody tr td .cart-item-img .color {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.object-only.clearfix {
    margin-bottom: 20px;
}

.object-only.clearfix .descr {
    padding-right: 20px;
}

.object-only.clearfix .fleft {
    float: left;
    width: 70%;
}

.object-only.clearfix .fright {
    float: right;
    width: 30%;
}

.object-only.clearfix h1 {
    color: #222;
}

.center .basket.catalog-only {
    padding: 56px 62px 0;
}

.center .basket .block-2 table.table_apiece tbody tr td .block-1 {
    float: none;
    width: auto;
    display: inline-block;
}

.center .basket .block-2 table.table_apiece tbody tr td:first-child {
    width: auto;
}

.additional_breadcrumbs {
    margin-top: 20px;
    font-size: 18px;
}

table.table_apiece {
    width: 100%;
}

tr {
    transition: 0.2s;
}

tr:hover {
    background: rgba(163, 33, 57, 0.07);
}





.cssload-wraper{
    width:0px;
    display:block;
    margin: 113px auto;
}
    
.cssload-dots {
    font-family: sans-serif;
    font-weight: 100;
}

.cssload-dots:not(:required) {
    overflow: hidden;
    position: relative;
    text-indent: -11249px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 100%;
    box-shadow: rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
        -o-box-shadow: rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
        -ms-box-shadow: rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
        -webkit-box-shadow: rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
        -moz-box-shadow: rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    animation: cssload-dots 5.75s infinite ease-in-out;
        -o-animation: cssload-dots 5.75s infinite ease-in-out;
        -ms-animation: cssload-dots 5.75s infinite ease-in-out;
        -webkit-animation: cssload-dots 5.75s infinite ease-in-out;
        -moz-animation: cssload-dots 5.75s infinite ease-in-out;
    transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
}



@keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    8.33% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    16.67% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px 16px 0 8px, rgb(255,204,102) 16px 16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    25% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    33.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee -16px -16px 0 8px;
    }

    41.67% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    50% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    58.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    66.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px -16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    75% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    83.33% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee 16px 16px 0 8px;
    }

    91.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    100% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }
}

@-o-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    8.33% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    16.67% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px 16px 0 8px, rgb(255,204,102) 16px 16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    25% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    33.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee -16px -16px 0 8px;
    }

    41.67% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    50% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    58.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    66.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px -16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    75% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    83.33% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee 16px 16px 0 8px;
    }

    91.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    100% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }
}

@-ms-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    8.33% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    16.67% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px 16px 0 8px, rgb(255,204,102) 16px 16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    25% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    33.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee -16px -16px 0 8px;
    }

    41.67% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    50% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    58.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    66.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px -16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    75% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    83.33% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee 16px 16px 0 8px;
    }

    91.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    100% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }
}

@-webkit-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    8.33% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    16.67% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px 16px 0 8px, rgb(255,204,102) 16px 16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    25% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    33.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee -16px -16px 0 8px;
    }

    41.67% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    50% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    58.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    66.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px -16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    75% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    83.33% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee 16px 16px 0 8px;
    }

    91.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    100% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }
}

@-moz-keyframes cssload-dots {
    0% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) -16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    8.33% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px -16px 0 8px, rgb(255,204,102) 16px -16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    16.67% {
        box-shadow: white 0 0 17px 0, rgb(255,136,102) 16px 16px 0 8px, rgb(255,204,102) 16px 16px 0 8px, rgb(102,221,119) 16px 16px 0 8px, rgb(68,170,238) -16px 16px 0 8px;
    }

    25% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    33.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee -16px -16px 0 8px;
    }

    41.67% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    50% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    58.33% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 -16px 16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    66.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 -16px -16px 0 8px, #66dd77 -16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    75% {
        box-shadow: white 0 0 17px 0, #ff8866 16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px -16px 0 8px, #44aaee 16px -16px 0 8px;
    }

    83.33% {
        box-shadow: white 0 0 17px 0, #ff8866 16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee 16px 16px 0 8px;
    }

    91.67% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px 16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }

    100% {
        box-shadow: white 0 0 17px 0, #ff8866 -16px -16px 0 8px, #ffcc66 16px -16px 0 8px, #66dd77 16px 16px 0 8px, #44aaee -16px 16px 0 8px;
    }
}