/*
@media (max-width: 1024px) {

    .center .slide-6 h1 a {
        width: 38%;
    }

    aside.l-column .basket {
        background: url("../images/basket-1.png") no-repeat scroll 12% center / 14% auto #4b3537;
    }

    aside.l-column .basket > .wrp > a > span {
        margin: 0 0 0 8%;
    }

    aside.l-column .basket > .wrp > a {
        padding: 20px 0 20px 30%;
    }

    .center .reviews .block-2 a.custom-3 {
        width: 25%;
    }

    .center .preview-slide > .block-1 h4 {
        margin: 0 0 20px;
        font-size: 24px;
    }

    .center .preview-slide > .block-1.custom-2 h4 {
        font-size: 22px;
    }

    .center .catalog-2 .wrp ul li .block-3 {
        width: 40%;
    }

    .center .catalog-2 .wrp ul li .block-3 .custom-6 {
        margin: 0 15px 10px 0;
        width: 49%;
    }


    aside.l-column .wrapper .logo {
        background: url("../images/logo-1.png") no-repeat scroll 45% center / 89% auto rgba(0, 0, 0, 0);
    }


    aside.l-column .wrapper > ul li > a {
        font-size: 15px;
        padding: 9% 0 9% 35%;
    }


    .center .slide-5 .box > .custom-1 {
        margin: 0;
    }

}


@media (max-width: 800px) {

    aside.l-column .wrapper .logo-alt {
        background: url("../images/logo-1.png") no-repeat scroll 76% center / 72% auto rgba(0, 0, 0, 0);
        position: fixed;
        right: 43%;
        width: 32%;
    }

    aside.l-column .wrapper .logo {
        background: url("../images/logo-1.png") no-repeat scroll 76% center / 100% auto rgba(0, 0, 0, 0);
        height: 82px;
        position: fixed;
        right: 43%;
        width: 172px;
    }

    .center .slide-3 .block-2 > div.descr {
        text-align: right;
        width: 50%;
    }

    .center .slide-3 .block-2 > .callback {
        margin: 3% 5% 0 0;
        top: 0;
        width: 40%;
    }

    .callback form input[type="text"] {
        width: 84%;
    }

    .callback form > div {
        width: 15%;
    }

    .callback form .captcha_code.required {
        width: 52%;
    }

    .center .slide-4 ul li {
        width: 90%;
    }

    aside.l-column {
        width: 25%;
        left: -25%
    }

    aside.l-column.open {
        left: 0;
    }

    .center {
        width: 100%;
        margin-left: 0;
    }

    header .block-2, footer {
        width: 100%;
    }


    header .slogan, header .block-1 {
        display: none;
    }

    .menu-trigger {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 50px;
        line-height: 100%;
        margin: 2% 0 0 1%;
        position: fixed;
        text-decoration: none;
        top: 0;
        z-index: 22;
    }

    aside.l-column .menu.clearfix {
        margin: 90px 0 0;
    }

    header .custom-2 {
        font-size: 22px;
    }

    header .custom-2:before {
        left: -20%
    }

    header {
        height: auto;
        padding: 10px 0;
    }



}

@media (max-width: 640px) {

    header .slogan {
        width: 40%;
    }

    header .custom-1 {
        font-size: 15px;
    }

    header .custom-2 {
        font-size: 20px;
    }


    header .phone {
        margin: 1% 0 0;
    }

    header .phone > img {
        left: 0;
        position: absolute;
        top: 26px;
        width: 10%;
    }

    .center .preview-slide {
        background: none repeat scroll 0 0 #faedd8;
    }

    .center .preview-slide > img {
        display: none;
    }

    .center .preview-slide > .block-1.custom-2 {
        left: 0;
        margin: 0 auto;
        position: static;
        top: 0;
        width: 95%;
    }

    .center .catalog-2 .wrp {
        margin: 0 auto;
        width: 95%;
    }

    .center .catalog-2 .wrp ul li .block-3 {
        width: 50%;
    }


    .center .catalog-2 .wrp ul li .block-3 .custom-6 {
        font-size: 16px;
        margin: 0 0 15px;
        width: 50%;
    }

    .center .catalog-2 .wrp > h1 {
        font-size: 26px;
        text-align: left;
    }


    .center .catalog-2 .wrp ul li > h3 {
        color: #a03548;
        font-family: Bender_Light;
        font-size: 24px;
        margin: 5px 0;
    }


    .center .how-we-work ul li {
        width: 45%;
    }


    .center .how-we-work ul li.custom-3 {
        margin: 0 2% 5% 0;
    }


    .center .how-we-work ul li.custom-4 {
        margin: 0 2% 5% 0;
    }

    .center .how-we-work ul li {

        margin: 0 2% 5% 0;
    }


    .center .how-we-work h1 {
        margin: 25px 0;
    }


    .center .reviews .block-2 ul li .block-3 {
        width: 65%;
    }


    .center .reviews .block-2 a.custom-3 {
        width: 45%;
    }
}
*/


@media (max-width: 1000px) {

    .center .preview-slide > .block-1 {
        left: 5%;
        position: absolute;
        top: 5%;
        width: 50%;
    }


    .center .preview-slide > .block-1 h4 {
        font-size: 20px;
        margin: 10px 0;
    }


    .center .preview-slide > img {
        width: 120%;
    }

    .center.colors .slide-9 ul li {
        width: 29.4%;
    }


    .center .basket .block-2 table tbody tr td:first-child {
        width: 40%;
    }


    .personal-information .row.captcha input {
        width: 25.5%;
    }
}