body{
	font-family: 'MyriadPro-Regular', sans-serif, Tahoma, Arial, "Times New Roman";
	font-size: 12pt;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	color: #4b4b4b;
	background-color: white;
	max-width: 1280px;
}

table {
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	background-color: transparent;
}

img{
	border:0;
}
hr{
	width: 100%;
	height: 0px;
	border-top: 1px solid #dde5be;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin: 130px 0 -32px;
}
.clear{
	clear: both;
}
.textarea {
	background: url("../images/textarea.png") no-repeat scroll 0 0 transparent;
    border: medium none;
	height: 80px;
	resize: none;
	width: 233px;
	padding: 0 10px
}
#head{
	width: 100%;
	height: 490px;
	padding-top: 40px;
	background: url("../images/bg_head.jpg") no-repeat center;
}
#head_inside{
	width: 1000px;
	margin: 0 auto;
}
#head p{
	margin: 0;
}
h1{
	color: #406787;
	text-align: center;
	font-family: 'MyriadPro-Semibold';
	font-weight: normal;
	font-size: 30pt;
}
h2{
	color: #406787;
	font-family: 'MyriadPro-Semibold';
	font-weight: normal;
	font-size: 25pt;
	margin: 0;
}
#head h3{
	text-align: center;
	font-weight: normal;
	font-size: 15pt;
}
#footer{
	width: 100%;
	padding: 20px 0 40px;
	background-color: #fbfbfb;
	margin-top: 50px;
}
#footer_inside{
	width: 1000px;
	margin: 0 auto;
}
#footer p{
	margin: 3px 0;
}
#footer h3{
	text-align: center;
	font-weight: normal;
	font-size: 15pt;
}
.share{
	width: 100%;
	padding-top: 50px;
}

#share1{
	background: url("../images/bg_part1.png") repeat-x top center;
	margin-top: -50px;
	position: relative;
	z-index: 25;
	height: 182px;
}
#review{
	width: 1280px;
	margin: 0 auto;
	background-color: #f4f4f4;
}
.share_table, .review_table{
	display: table;
	width: 1000px;
	margin: 0 auto;
}
.review_table{
	padding: 70px 0 60px;
}
.share p{
	margin: 15px 0 0;
}
.share_cell{
	display: table-cell;
	vertical-align: top;
}
.review_cell{
	display: table-cell;
	vertical-align: top;
}
.font1{
	color: #406787;
	font-family: 'MyriadPro-Semibold';
}
.font2{
	font-family: 'MyriadPro-Semibold';
}
#part2{
	width: 100%;
	height: 519px;
	padding-top: 6px;
	background: url("../images/bg_part2.jpg") no-repeat center;
	margin-bottom: 100px;
}
#part2_inside{
	width: 1000px;
	margin: 0 auto;
}
#form{
	float: right;
	width: 325px;
	height: 490px;
	padding: 30px 60px 0 60px;
	color: #aec5d8;
	background: url("../images/bg_form.png") no-repeat center;
}
.field1{
	width: 321px;
	height: 46px;
	margin: 25px auto;
	display: table;
	background: url("../images/field.png") no-repeat center;
}
.field1 div{
	display: table-cell;
}
.input_text1 {
	border: medium none;
	background-color: transparent;
	height: 44px;
	width: 242px;
	padding: 0 15px;
	color: #aec5d8;
	font-family: 'MyriadPro-Regular';
	font-size: 12pt;
}

input.input_text1:-moz-placeholder {
	color: #aec5d8;
}

input.input_text1::-moz-placeholder {
	color: #aec5d8;
}

.input_text1::-webkit-input-placeholder {
	color: #aec5d8;
}

.field2{
	width: 253px;
	height: 39px;
	margin-bottom: 18px;
	display: table;
	float: right;
	background: url("../images/field2.png") no-repeat center;
}
.field2 div{
	display: table-cell;
}
.input_text2{
	border: medium none;
	background-color: transparent;
	height: 36px;
	width: 174px;
	padding: 0 15px;
	color: #595959;
	font-family: 'MyriadPro-Regular';
	font-size: 12pt;
	margin: 1px 1px 0 0;
}

.input_text2:-moz-placeholder {
	color: #595959;
}

.input_text2::-moz-placeholder {
	color: #595959;
}

.input_text2::-webkit-input-placeholder {
	color: #595959;
}

.i{
	width: 45px;
	text-align: center;
	vertical-align: middle;
}
.s{
	width: 1px;
	vertical-align: middle;
}
.history_main{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	border-top: 1px solid #f0f0f0;
}
.history{
	width: 830px;
	margin:  0 auto;
	display: table;
	font-size: 14pt;
}
.history div{
	display: table-cell;
	vertical-align: middle;
}
.history_img1, .history_img2{
	width: 150px;
	padding: 15px 0;
}
.history_txt1{
	padding: 0 30px 0 40px;
}
.history_txt2{
	padding: 0 30px 0 55px;
}
.top{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	height: 9px;
	background: url("../images/top.png") repeat-x top center;
}
.bottom{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	height: 8px;
	background: url("../images/bottom.png") repeat-x top center;
}
#prod1, #prod2, #other{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #f4f4f4;
	padding: 5px 0px;
}
.prod1_table{
	width: 780px;
	height: 225px;
	margin: 45px auto 25px;
	display: table;
	background: url("../images/bg_table.jpg") no-repeat center 35px;
}
.prod1_cell{
	display: table-cell;
	vertical-align: top;
	text-align: center;
	width: 33%;
	position: relative;
}

.material-bg {
	position: relative;
	width: 100%;
	height: 100%;
}

.material {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top: 35px;
	border: 1px solid transparent;
	z-index: 1;
}

.material.active {
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.90);
	z-index: 2;
}

.expand_block {
	display: none;
	margin-top: 13px;
}

.expand_block img {
	cursor: pointer;
}

.material_price {
	font-family: "MyriadPro-Semibold";
	font-size: 25pt;
	color: #be2e2e;
	margin-top: 25px;
	margin-bottom: 20px;
}

.material_price span {
	font-family: "MyriadPro-Regular";
	font-size: 15pt;
}
.expand_block a{
	color: #6cb6eb;
	font-size: 11pt;
}
.button_div{
	text-align: center;
}
.button_div img{
	cursor: pointer;
	margin: 70px 0 50px;
}

#work, #reviews{
	width: 100%;
	max-width: 1280px;
}
#work{
	margin: 0 auto 140px;
}
#reviews{
	margin: 0 auto;
}
.h1_2{
	color: #8fa828;
	font-size: 32pt;
	font-family: "MyriadPro-Semibold";
	font-weight: normal;
	background-color: white;
	width: 400px;
	margin: 0 auto;
}
#work_inside{
	position: relative;
	width: 1005px;
	height: 277px;
	margin: 80px auto 30px;
	font-size: 11pt;
}
#work_inside div{
	position: absolute;
}
#work_inside h3{
	margin: 0;
	line-height: 110%;
}
#work_inside p{
	margin: 7px 0 0 0;
}
.calendar_img{
	float: left; 
	padding: 0 10px 0 0; 
	margin-top: 2px;
}
.date_review{
	color: #bababa;
	margin: 0;
}
.p_review{
	font-size: 13pt;
	margin: 0;
	line-height: 150%;
}
.name_review{
	color: #406787;
	margin: 15px 0 10px;
}
#parent_popup {
  background: #000;
  height: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  display: none;
}

.more{
	width: 830px;
	height: 636px;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.90);
	margin-left: -439px;
	margin-top: -318px;
	position: fixed;
	opacity: 100%;
	top: 50%;
	left: 50%;
	z-index: 100;
	display: none;
	padding-right: 47px;
	line-height: 150%;
}
.sl{
	width: 318px;
	float: left;
	margin: 0 50px;
}
.more h3{
	font-size: 21pt;
	font-family: "MyriadPro-Semibold";
	color: #3a617f;
	font-weight: normal;
	margin: 0 0 20px;
}
.more h4{
	font-size: 18pt;
	font-family: "MyriadPro-Semibold";
	font-weight: normal;
	margin: 20px 0 15px;
}
.list_img{
	float: left; 
	padding: 7px 10px 0 0; 
}
.button_buy{
	text-align: center;
}
.price{
	color: #be2e2e;
	text-align: center;
	margin: 20px 0 25px;
	font-size: 14pt;
}
.price span{
	font-size: 24pt;
	font-family: "MyriadPro-Semibold";
}
.list_p{
	margin: 0;
}
.button7{
	cursor: pointer;
}

.more_content .sl #slices img {
	width: 96px;
	height: 121px;
}

.more_content .sl #slices img.active {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.more_content .sl img {
	width: 318px;
	height: 404px;
	border-radius: 5px;
	cursor: pointer;
}

#popup_dialog {
	width: 400px;
	height: 480px;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.90);
	margin-left: -240px;
	margin-top: -240px;
	position: fixed;
	opacity: 100%;
	top: 50%;
	left: 50%;
	z-index: 100;
	display: none;
	padding: 0px 40px;
	line-height: 150%;
	text-align: center;
}
#popup_dialog h3{
	margin-bottom: 35px;
}
#popup_dialog.Call {
	width: 300px;
	margin-left: -190px;
	height: 340px;
	margin-top: -170px;
}

#popup_dialog .field2 {
	float: none;
	margin: 20px auto;
}

#popup_dialog .dialog_content {
	margin-top: 40px;
}

#popup_dialog .dialog_content input[type=image] {
	position: absolute;
	bottom: 74px;
	left: 50%;
	margin-left: -125px;
	margin-bottom: 10px;
}

#popup_dialog .form_footer {
	font-size: 10pt;
	position: absolute;
	bottom: 41px;
	text-align: center;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	line-height: 1em;
}


#respect {
	width: 400px;
	height: 100px;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.90);
	margin-left: -240px;
	margin-top: -50px;
	position: fixed;
	opacity: 100%;
	top: 50%;
	left: 50%;
	z-index: 100;
	display: none;
	padding: 0px 40px;
	line-height: 150%;
	text-align: center;
}

#respect .dialog_content {
	margin-top: 25px;
}
