<form method='post' id='import-csv-form' enctype="multipart/form-data"
      action="" target='import-iframe'>

    <label id='label-csv-file'>{{label:js-csv-import-question}}</label>
    <input type='file' name='csv-file' id='csv-file' size='28'/>
    <br/>
    <br/>
    <label id="csv_encoding"><span>{{label:js-csv-choose-encoding}}</span>
        <select name="encoding" class="default newselect">
            <option value="Windows-1251">Windows-1251</option>
            <option value="UTF-8">UTF-8</option>
        </select>
    </label>
    <br/>

    <input type='hidden' name='csrf' value=''/>

    <div class='checkbox'>
        <input type='checkbox' name='ignore-id' id='ignore-id' class='checkbox'/>
    </div>

    <span class='ignore-id'>{{label:js-csv-import-ignore-id}}</span>
</form>

<iframe name='import-iframe' id='import-iframe' src='' style='display: none;'></iframe>