 .counter_main{
	position: relative;
	font-size: 12pt;
}
.counter {
	width: 274px;
	height: 51px;
	background: url(../images/bg_counter.png) no-repeat;
	font-size: 28pt;
	position: absolute;
	left: 52px;
	top: 0px;
	color: white;
}

.counter div {
	position: absolute;
	width: 26px;
	height: 51px;
	line-height: 51px;
	text-align: center;
	vertical-align: middle;
	top: 0px;
	filter: alpha(opacity=65);
}
#day, #hours, #minutes, #seconds{
	position: absolute;
	top: 52px;
}
#day{
	left: 63px;
}
#hours{
	left: 136px;
}
#minutes{
	left: 206px;
}
#seconds{
	left: 276px;
}
#days_h, #days_h1, #days_h2, #days_h3, #days_h4 {
	left: 2px;
}

#days_l, #days_l1, #days_l2, #days_l3, #days_l4 {
	left: 23px;
}

#hours_h, #hours_h1, #hours_h2, #hours_h3, #hours_h4 {
	left: 75px;
}

#hours_l, #hours_l1, #hours_l2, #hours_l3, #hours_l4 {
	left: 96px;
}

#minutes_h, #minutes_h1, #minutes_h2, #minutes_h3, #minutes_h4 {
	left: 150px;
}

#minutes_l, #minutes_l1, #minutes_l2, #minutes_l3, #minutes_l4 {
	left: 171px;
}

#seconds_h, #seconds_h1, #seconds_h2, #seconds_h3, #seconds_h4 {
	left: 222px;
}

#seconds_l, #seconds_l1, #seconds_l2, #seconds_l3, #seconds_l4 {
	left: 245px;
}