@font-face {
	font-family: "MyriadArabic-Bold";
	src: url("../fonts/myriadarabic-bold.eot");
	src: url("../fonts/myriadarabic-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadarabic-bold.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadarabic-bold.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadArabic-BoldIt";
	src: url("../fonts/myriadarabic-boldit.eot");
	src: url("../fonts/myriadarabic-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadarabic-boldit.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadarabic-boldit.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadArabic-It";
	src: url("../fonts/myriadarabic-it.eot");
	src: url("../fonts/myriadarabic-it.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadarabic-it.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadarabic-it.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadArabic-Regular";
	src: url("../fonts/myriadarabic-regular.eot");
	src: url("../fonts/myriadarabic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadarabic-regular.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadarabic-regular.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadHebrew-Bold";
	src: url("../fonts/myriadhebrew-bold.eot");
	src: url("../fonts/myriadhebrew-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadhebrew-bold.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadhebrew-bold.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadHebrew-BoldIt";
	src: url("../fonts/myriadhebrew-boldit.eot");
	src: url("../fonts/myriadhebrew-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadhebrew-boldit.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadhebrew-boldit.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadHebrew-It";
	src: url("../fonts/myriadhebrew-it.eot");
	src: url("../fonts/myriadhebrew-it.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadhebrew-it.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadhebrew-it.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadHebrew-Regular";
	src: url("../fonts/myriadhebrew-regular.eot");
	src: url("../fonts/myriadhebrew-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadhebrew-regular.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadhebrew-regular.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-Bold";
	src: url("../fonts/myriadpro-bold.eot");
	src: url("../fonts/myriadpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-bold.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-bold.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-BoldCond";
	src: url("../fonts/myriadpro-boldcond.eot");
	src: url("../fonts/myriadpro-boldcond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-boldcond.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-boldcond.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-BoldCondIt";
	src: url("../fonts/myriadpro-boldcondit.eot");
	src: url("../fonts/myriadpro-boldcondit.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-boldcondit.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-boldcondit.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-BoldIt";
	src: url("../fonts/myriadpro-boldit.eot");
	src: url("../fonts/myriadpro-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-boldit.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-boldit.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-Cond";
	src: url("../fonts/myriadpro-cond.eot");
	src: url("../fonts/myriadpro-cond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-cond.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-cond.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-CondIt";
	src: url("../fonts/myriadpro-condit.eot");
	src: url("../fonts/myriadpro-condit.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-condit.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-condit.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-It";
	src: url("../fonts/myriadpro-it.eot");
	src: url("../fonts/myriadpro-it.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-it.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-it.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url("../fonts/myriadpro-regular.eot");
	src: url("../fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-regular.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-regular.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url("../fonts/myriadpro-semibold.eot");
	src: url("../fonts/myriadpro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-semibold.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-semibold.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "MyriadPro-SemiboldIt";
	src: url("../fonts/myriadpro-semiboldit.eot");
	src: url("../fonts/myriadpro-semiboldit.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-semiboldit.svg#typotheque_webfonts_service") format("svg"), url("../fonts/myriadpro-semiboldit.ttf");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}